<% include subhead %>

<div class="main">
    <div class="error-con">
	   <img src="window/assets/images/error.png" />
	   <p>抱歉!  您访问的页面<b>失联</b>啦...</p>
	   <div><a class="btn" href="/index">前往首页</a></div>
	</div>
</div>

<% include foot %>

</body>
</html>