<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【狸淘网官网】狸淘网,天天特价,精装商品秒杀尽在狸淘网</title>
    <meta name="keywords" content="狸淘网,导购网,狸淘网,u站,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮官网">
    <meta name="description" content="狸淘网(neetao.com)淘牛品u站官网,全网独家商品抄底特价低至1折,更有九块九包邮,9.9特卖商品,每日精选百款9.9包邮品做9块9包邮秒杀活动.【九块邮天天有】">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="window/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="window/assets/css/site.css" />
    <script type="text/javascript" src="window/assets/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="window/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="window/assets/js/index.js"></script>
    <script type="text/javascript" src="/baidu.js"></script>
</head>
<body>
<header>
    <div class="top-head">
        <div class="container">
            <p>温馨提醒：查看<a>微博</a>与<a>QQ空间</a>，获取最新优惠信息更省钱喔！</p>
        </div>
    </div>
    <div class="container">
        <div class="row header">
            <div class="col-xs-4 col-md-3 col-lg-3 logo fl"><a><img src="window/assets/images/logo2x.png" /></a></div>
            <div class="hidden-xs hidden-sm col-lg-4 logo-ad fr"><a><img src="window/assets/images/ensure.png" /></a></div>
            <div class="col-xs-8 col-sm-5 col-md-5 col-lg-4 search-box fr">
                <div class="search-panel fl"><input type="search" class="form-control" placeholder="请输入想查找的宝贝" /></div>
                <div class="search-button fl"><input type="button" class="btn" value="搜索" /></div>

            </div>

        </div>

    </div>
</header>

<div class="main-nav">


    <div class="container">
        <div class="row nav-box">
            <div class="col-sm-4 col-md-3">
                <div class="sidebar J-sidebar">
                    <div class="tip">商品分类<i class="free-icon tb-icon"></i></div>

                    <ul class="sidebar-list sidebar-hide">
                        <li class="sidebar-cat sidebar-women">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>女装</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-men">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>男装</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-mother">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>母婴</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-xie">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>鞋包</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-home">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>家居</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-food">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>美食</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
            <nav class="col-sm-8 col-md-9 menu">
                <ul class="nav navbar-nav menu-nav">
                    <li class="list"><a class="active" href="/index">首页</a></li>
                    <li class="list"><a href="/package">9.9包邮</a></li>
                    <li class="list"><a href="/boutique">今日新品</a></li>
                    <li class="list"><a href="/hot">热卖排行</a></li>
                    <li class="list"><a href="/coupon">领券购</a></li>
                    <li class="list"><a href="/hot">领红包</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="main">

    <section class="page-box">

        <div class="page-ad">
            <img src="window/assets/images/tmall-banner.jpg" />
        </div>

        <div class="container">

            <div class="seckill-con">
                <ul class="row seckill-list">
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/TB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/SB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">冬季棉衣面包服女学生短款</a></p>
                                <div class="info-price">
                                    <span class="new">36.0</span>
                                    <p class="sales">已售289</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥168.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/FB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">韩版宽松毛衣针织衫</a></p>
                                <div class="info-price">
                                    <span class="new">36.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥128.00</del><span>2.5折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/KB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">搭配马甲PU皮袖打底</a></p>
                                <div class="info-price">
                                    <span class="new">39.8</span>
                                    <p class="sales">已售279</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥98.00</del><span>4.1折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/JB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">多功能行走遥控机器人</a></p>
                                <div class="info-price">
                                    <span class="new">43.8</span>
                                    <p class="sales">已售299</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥90.00</del><span>4.8折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/UB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/LB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">蕾丝拼接针织包臀短裙</a></p>
                                <div class="info-price">
                                    <span class="new">58.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥60.00</del><span>9.9折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/XB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">新款蕾丝衫加绒打底衫</a></p>
                                <div class="info-price">
                                    <span class="new">49.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥158.00</del><span>3.2折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mPages">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="disabled"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>



            </div>

        </div>
    </section>
</div>

<footer>
    <div class="footer-box">
        <div class="container">
            <div class="row">
                <div class="foot-code fr hidden-md hidden-sm">
                    <div class="fl code-mobile">
                        <h4>WAP访问</h4>
                        <img src="window/assets/images/qrcode.png" />
                    </div>
                    <div class="fl code-weixin">
                        <h4>微信号</h4>
                        <img src="window/assets/images/qrcode.png" />
                    </div>
                </div>
                <ul class="foot-nav fl">
                    <li class="nav-list">
                        <h3 class="title">关于我们</h3>
                        <p class="item"><a>网站简介</a></p>
                        <p class="item"><a>官方地址</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">买家中心</h3>
                        <p class="item"><a>购物流程</a></p>
                        <p class="item"><a>红包领取</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">帮助中心</h3>
                        <p class="item"><a>联系卖家</a></p>
                        <p class="item"><a>物流查询</a></p>
                        <p class="item"><a>售后协助</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">关注我们</h3>

                        <p class="item"><a>微博</a></p>
                        <p class="item"><a>空间</a></p>
                        <p class="item"><a>QQ群</a></p>
                    </li>
                </ul>

            </div>

        </div>
        <div class="text-center cripte">
            <p class="safe">
                <a><img src="window/assets/images/foot-1.png" /></a>
                <a><img src="window/assets/images/foot-2.png" /></a>
                <a><img src="window/assets/images/foot-3.png" /></a>
            </p>

        </div>
        <div class="cert">
            <p class="copyright">Copyright©2013-2016 狸淘网版权所有 - 鄂ICP备12008188号-2</p>
        </div>
    </div>
</footer>

</body>
</html>