<% include subhead %>

<div class="main">

    <section class="page-box">

        <div class="container">

            <div class="seckill-area">
                <p class="currentTag fl">当前分类：<label>女装</label></p>
                <div class="seckill-tag fr">
                    <a href="/catid?category=dress">女装</a><a>男装</a><a href="/catid?category=baby">母婴</a><a href="/catid?category=shoes_woman">鞋包</a><a href="/catid?category=house">家居</a><a href="/catid?category=food">美食</a>
                </div>
            </div>

            <div class="hottest">
                <a class="hover">全部<i>(3259)</i></a><a>上衣<i>(359)</i></a><a>套装<i>(329)</i></a><a>裙子<i>(59)</i></a><a>上衣<i>(359)</i></a><a>套装<i>(329)</i></a><a>裙子<i>(59)</i></a>
            </div>

            <div class="sort">
               <a class="sort-nav sort-curn">综合</a><a class="sort-nav">销量</a><a class="sort-nav">价格<span><i class="up_triangle"></i><i class="down_triangle"></i></span></a><a class="sort-nav">最新</a>
                <a class="sort-chose sort-checked"><i></i>只看特卖商城</a><a class="sort-chose"><i></i>只看天猫/淘宝</a>
            </div>


            <div class="seckill-con">
                <ul class="row seckill-list">

                </ul>
                <div class="mPages">
                    <ul class="pagination">

                    </ul>
                </div>



            </div>

        </div>

        <div class="start-side J-fixed">
            <h2 class="start-title">每日定时更新</h2>
            <div class="start-sup">
            <ul class="shop-type">
                <li class="all"><a class="selected">全部</a></li>
                <li class="nvzhuang"><a href="/catid?category=dress">女装</a></li>
                <li class="nanzhuang"><a href="/catid?category=shoes_man">男装</a></li>
                <li class="muying"><a href="/catid?category=baby">母婴</a></li>
                <li class="xiebao"><a href="/catid?category=shoes_woman">鞋包</a></li>
                <li class="jujia"><a href="/catid?category=house">家居</a></li>
                <li class="meishi"><a href="/catid?category=food">美食</a></li>
                <li class="remai"><a href="/hot">热卖</a></li>
                <li class="remai"><a href="/catid?category=pet">宠物</a></li>
            </ul>
            <ul class="web-box">
                <li><a href="/package">9.9包邮</a></li><li><a href="/boutique">今日新品</a></li>
            </ul>
            <a class="go-top">top</a>
            </div>
        </div>


    </section>
</div>

<% include foot %>
</body>
<script type="text/javascript" src="window/assets/js/goods.js"></script>
</html>