<% include subhead %>

<div class="main">

    <section class="page-box">

        <div class="container">

            <div class="seckill-area">
                <p class="currentTag fl">当前分类：<label>女装</label></p>
                <div class="seckill-tag fr">
                    <a>女装</a><a>男装</a><a>母婴</a><a>鞋包</a><a>家居</a><a>美食</a>
                </div>
            </div>

            <div class="hottest">
                <a class="hover">全部<i>(3259)</i></a><a>上衣<i>(359)</i></a><a>套装<i>(329)</i></a><a>裙子<i>(59)</i></a><a>上衣<i>(359)</i></a><a>套装<i>(329)</i></a><a>裙子<i>(59)</i></a>
            </div>

            <div class="sort">
               <a class="sort-nav sort-curn">综合</a><a class="sort-nav">销量</a><a class="sort-nav">价格<span><i class="up_triangle"></i><i class="down_triangle"></i></span></a><a class="sort-nav">最新</a>
                <a class="sort-chose sort-checked"><i></i>只看特卖商城</a><a class="sort-chose"><i></i>只看天猫/淘宝</a>
            </div>


            <div class="seckill-con">
                <ul class="row seckill-list">
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/TB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/SB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">冬季棉衣面包服女学生短款</a></p>
                                <div class="info-price">
                                    <span class="new">36.0</span>
                                    <p class="sales">已售289</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥168.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/FB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">韩版宽松毛衣针织衫</a></p>
                                <div class="info-price">
                                    <span class="new">36.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥128.00</del><span>2.5折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/KB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">搭配马甲PU皮袖打底</a></p>
                                <div class="info-price">
                                    <span class="new">39.8</span>
                                    <p class="sales">已售279</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥98.00</del><span>4.1折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/JB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">多功能行走遥控机器人</a></p>
                                <div class="info-price">
                                    <span class="new">43.8</span>
                                    <p class="sales">已售299</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥90.00</del><span>4.8折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/UB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/LB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">蕾丝拼接针织包臀短裙</a></p>
                                <div class="info-price">
                                    <span class="new">58.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥60.00</del><span>9.9折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/XB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">新款蕾丝衫加绒打底衫</a></p>
                                <div class="info-price">
                                    <span class="new">49.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥158.00</del><span>3.2折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/TB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/SB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">冬季棉衣面包服女学生短款</a></p>
                                <div class="info-price">
                                    <span class="new">36.0</span>
                                    <p class="sales">已售289</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥168.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/FB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">韩版宽松毛衣针织衫</a></p>
                                <div class="info-price">
                                    <span class="new">36.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥128.00</del><span>2.5折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/KB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">搭配马甲PU皮袖打底</a></p>
                                <div class="info-price">
                                    <span class="new">39.8</span>
                                    <p class="sales">已售279</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥98.00</del><span>4.1折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/JB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">多功能行走遥控机器人</a></p>
                                <div class="info-price">
                                    <span class="new">43.8</span>
                                    <p class="sales">已售299</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥90.00</del><span>4.8折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/UB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/LB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">蕾丝拼接针织包臀短裙</a></p>
                                <div class="info-price">
                                    <span class="new">58.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥60.00</del><span>9.9折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/XB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">新款蕾丝衫加绒打底衫</a></p>
                                <div class="info-price">
                                    <span class="new">49.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥158.00</del><span>3.2折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/TB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/SB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">冬季棉衣面包服女学生短款</a></p>
                                <div class="info-price">
                                    <span class="new">36.0</span>
                                    <p class="sales">已售289</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥168.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/FB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">韩版宽松毛衣针织衫</a></p>
                                <div class="info-price">
                                    <span class="new">36.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥128.00</del><span>2.5折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/KB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">搭配马甲PU皮袖打底</a></p>
                                <div class="info-price">
                                    <span class="new">39.8</span>
                                    <p class="sales">已售279</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥98.00</del><span>4.1折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/JB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">多功能行走遥控机器人</a></p>
                                <div class="info-price">
                                    <span class="new">43.8</span>
                                    <p class="sales">已售299</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥90.00</del><span>4.8折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/UB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/LB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">蕾丝拼接针织包臀短裙</a></p>
                                <div class="info-price">
                                    <span class="new">58.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥60.00</del><span>9.9折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/XB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">新款蕾丝衫加绒打底衫</a></p>
                                <div class="info-price">
                                    <span class="new">49.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥158.00</del><span>3.2折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mPages">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="disabled"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>



            </div>

        </div>

        <div class="start-side J-fixed">
            <h2 class="start-title">每日定时更新</h2>
            <div class="start-sup">
            <ul class="shop-type">
                <li class="all"><a class="selected">全部</a></li>
                <li class="nvzhuang"><a>女装</a></li>
                <li class="nanzhuang"><a>男装</a></li>
                <li class="muying"><a>母婴</a></li>
                <li class="xiebao"><a>鞋包</a></li>
                <li class="jujia"><a>家居</a></li>
                <li class="meishi"><a>美食</a></li>
                <li class="remai"><a>热卖</a></li>
            </ul>
            <ul class="web-box">
                <li><a>9.9包邮</a></li><li><a>今日新品</a></li>
            </ul>
            <a class="go-top">top</a>
            </div>
        </div>


    </section>
</div>

<% include foot %>
</body>
</html>