<% include subhead %>

<div class="main">
    <section class="page-box">
        <div class="container">
            <ul class="row coupon-list">
                <li class="col-sm-6 col-md-6">
                    <dl class="coupon-item">
                        <dt class="col-sm-12 col-md-6"><img src="window/assets/upload/XB2ECTXa4j300x300.jpg" /></dt>
                        <dd class="col-sm-12 col-md-6 coupon-inf">
                            <h2 class="name">新款蕾丝衫加绒打底衫</h2>
                            <p class="privilege">优惠券：<b>￥50.00</b></p>
                            <div class="coupon-quan">
                                <span class="price">券后价:￥<b>88.00</b></span>
                                <span class="shop">在售价:￥<b>138</b></span>
                            </div>
                            <div class="process">
                                <h4>购买流程:</h4>
                                <div class="routine">
                                    <a class="fl">① 点我领券</a>
                                    <span class="fl routine-jt">></span>
                                    <a class="fl">② 点击下单</a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </li>
                <li class="col-sm-6 col-md-6">
                    <dl class="coupon-item">
                        <dt class="col-sm-12 col-md-6"><img src="window/assets/upload/JB2ECTXa4j300x300.jpg" /></dt>
                        <dd class="col-sm-12 col-md-6 coupon-inf">
                            <h2 class="name">多功能行走遥控机器人</h2>
                            <p class="privilege">优惠券：<b>￥50.00</b></p>
                            <div class="coupon-quan">
                                <span class="price">券后价:￥<b>88.00</b></span>
                                <span class="shop">在售价:￥<b>138</b></span>
                            </div>
                            <div class="process">
                                <h4>购买流程:</h4>
                                <div class="routine">
                                    <a class="fl">① 点我领券</a>
                                    <span class="fl routine-jt">></span>
                                    <a class="fl">② 点击下单</a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </li>
                <li class="col-sm-6 col-md-6">
                    <dl class="coupon-item">
                        <dt class="col-sm-12 col-md-6"><img src="window/assets/upload/LB2ECTXa4j300x300.jpg" /></dt>
                        <dd class="col-sm-12 col-md-6 coupon-inf">
                            <h2 class="name">蕾丝拼接针织包臀短裙</h2>
                            <p class="privilege">优惠券：<b>￥50.00</b></p>
                            <div class="coupon-quan">
                                <span class="price">券后价:￥<b>88.00</b></span>
                                <span class="shop">在售价:￥<b>138</b></span>
                            </div>
                            <div class="process">
                                <h4>购买流程:</h4>
                                <div class="routine">
                                    <a class="fl">① 点我领券</a>
                                    <span class="fl routine-jt">></span>
                                    <a class="fl">② 点击下单</a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </li>
                <li class="col-sm-6 col-md-6">
                    <dl class="coupon-item">
                        <dt class="col-sm-12 col-md-6"><img src="window/assets/upload/KB2ECTXa4j300x300.jpg" /></dt>
                        <dd class="col-sm-12 col-md-6 coupon-inf">
                            <h2 class="name">韩版宽松毛衣针织衫</h2>
                            <p class="privilege">优惠券：<b>￥50.00</b></p>
                            <div class="coupon-quan">
                                <span class="price">券后价:￥<b>88.00</b></span>
                                <span class="shop">在售价:￥<b>138</b></span>
                            </div>
                            <div class="process">
                                <h4>购买流程:</h4>
                                <div class="routine">
                                    <a class="fl">① 点我领券</a>
                                    <span class="fl routine-jt">></span>
                                    <a class="fl">② 点击下单</a>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </section>
</div>

<% include foot %>

</body>
</html>