<% include head %>

<div class="main">
    <p class="ensure-img"><img src="window/assets/images/1.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/2.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/3.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/4.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/5.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/6.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/7.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/8.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/9.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/10.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/11.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/12.jpg"></p>
    <p class="ensure-img"><img src="window/assets/images/13.jpg"></p>
</div>

<% include foot %>

</body>
</html>