<footer>
    <div class="footer-box">
        <div class="container">
            <div class="row">
                <div class="foot-code fr hidden-md hidden-sm">
                    <div class="fl code-mobile">
                        <h4>WAP访问</h4>
                        <img src="window/assets/images/qrcode.png" />
                    </div>
                    <div class="fl code-weixin">
                        <h4>微信号</h4>
                        <img src="window/assets/images/qrcode.png" />
                    </div>
                </div>
                <ul class="foot-nav fl">
                    <li class="nav-list">
                        <h3 class="title">关于我们</h3>
                        <p class="item"><a href="/issue">网站简介</a></p>
                        <p class="item"><a href="/issue">官方地址</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">买家中心</h3>
                        <p class="item"><a href="/issue">购物流程</a></p>
                        <p class="item"><a href="/issue">红包领取</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">帮助中心</h3>
                        <p class="item"><a href="/issue">联系卖家</a></p>
                        <p class="item"><a href="/issue">物流查询</a></p>

                    </li>
                    <li class="nav-list">
                        <h3 class="title">关注我们</h3>
                        <p class="item"><a href="/issue">微博</a></p>
                        <p class="item"><a href="/issue">空间</a></p>
                        <p class="item"><a href="/issue">QQ群</a></p>
                    </li>
                </ul>

            </div>

        </div>
        <div class="text-center cripte">
            <p class="safe">
                <a><img src="window/assets/images/foot-1.png" /></a>
                <a><img src="window/assets/images/foot-2.png" /></a>
                <a><img src="window/assets/images/foot-3.png" /></a>
            </p>

        </div>
        <div class="cert">
            <p class="copyright">Copyright©2013-2016 狸淘网版权所有 - 鄂ICP备12008188号-2</p>
        </div>
    </div>
</footer>