<% include head %>

<div class="main">

    <section class="page-box">

        <div class="page-ad">
            <img src="window/assets/images/tmall-banner.jpg" />
        </div>

        <div class="container">

            <div class="seckill-con">
                <ul class="row seckill-list">
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/TB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/SB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">冬季棉衣面包服女学生短款</a></p>
                                <div class="info-price">
                                    <span class="new">36.0</span>
                                    <p class="sales">已售289</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥168.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/FB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">韩版宽松毛衣针织衫</a></p>
                                <div class="info-price">
                                    <span class="new">36.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥128.00</del><span>2.5折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/KB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">搭配马甲PU皮袖打底</a></p>
                                <div class="info-price">
                                    <span class="new">39.8</span>
                                    <p class="sales">已售279</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥98.00</del><span>4.1折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/JB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">多功能行走遥控机器人</a></p>
                                <div class="info-price">
                                    <span class="new">43.8</span>
                                    <p class="sales">已售299</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥90.00</del><span>4.8折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/UB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/LB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">蕾丝拼接针织包臀短裙</a></p>
                                <div class="info-price">
                                    <span class="new">58.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥60.00</del><span>9.9折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/XB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">新款蕾丝衫加绒打底衫</a></p>
                                <div class="info-price">
                                    <span class="new">49.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥158.00</del><span>3.2折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon02 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/TB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">创意桌面收纳盒塑料</a></p>
                                <div class="info-price">
                                    <span class="new">19.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥138.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/SB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">冬季棉衣面包服女学生短款</a></p>
                                <div class="info-price">
                                    <span class="new">36.0</span>
                                    <p class="sales">已售289</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥168.00</del><span>2.6折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/FB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">韩版宽松毛衣针织衫</a></p>
                                <div class="info-price">
                                    <span class="new">36.8</span>
                                    <p class="sales">已售2579</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥128.00</del><span>2.5折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4 col-md-3">
                        <div class="seckill-item">
                            <a class="goods-img" href="#"><img src="window/assets/upload/KB2ECTXa4j300x300.jpg"></a>
                            <div class="goods-info">
                                <p class="info-tit"><a class="name">搭配马甲PU皮袖打底</a></p>
                                <div class="info-price">
                                    <span class="new">39.8</span>
                                    <p class="sales">已售279</p>
                                </div>
                                <div class="info-mark">
                                    <p class="old fl"><del>¥98.00</del><span>4.1折</span></p>
                                    <i class="free-icon icon9"></i>
                                    <i class="mall bicon01 free-icon"></i>
                                </div>


                            </div>
                            <div class="info-pinzhi">
                                <p class="pinzhi1"><a><i class="free-icon icon1"></i>已缴保证金</a></p>
                                <p class="line hidden-sm hide-md">|</p>
                                <p class="pinzhi2"><a><i class="free-icon icon1"></i>狸淘品质保障</a></p>
                            </div>
                        </div>
                    </li>


                </ul>
                <div class="mPages">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="disabled"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>



            </div>

        </div>

    </section>
</div>

<% include foot %>

</body>
</html>