<% include subhead %>

<div class="main">

    <section class="page-box">

        <div class="page-ad">
            <img src="window/assets/images/tmall-banner.jpg" />
        </div>

        <div class="container">
            <div class="seckill-con">
                <ul class="row seckill-list">

                </ul>
                <div class="mPages">
                    <ul class="pagination">

                    </ul>
                </div>
            </div>
        </div>

    </section>
</div>

<% include foot %>

</body>
<script type="text/javascript" src="window/assets/js/goods.js"></script>
</html>