<% include subhead %>
   <div class="main">
       <section class="banner-new">
                  <div id="myCarousel" class="carousel slide banner-ul">
                      <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner carousel-slide">
                          <div class="item active">
                              <a href="">
                                  <img src="window/assets/images/58003cdc97522.jpg" alt="First slide">
                              </a>
                          </div>
                          <div class="item">
                              <img src="window/assets/images/57f89ce7279ec.png" alt="Second slide">
                          </div>
                          <div class="item">
                              <img src="window/assets/images/58115199d6ofd.jpg" alt="Third slide">
                          </div>
                      </div>
                      <a class="carousel-control left" href="#myCarousel"
                         data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#myCarousel"
                         data-slide="next">&rsaquo;</a>
                  </div>
                  <div class="container replenish hidden-xs hidden-sm">

                          <ul class="banner-right">
                              <li> <a><img src="window/assets/images/zcgg02.png" /></a></li>
                              <li><a><img src="window/assets/images/zcgg01.png" /></a></li>

                          </ul>
                  </div>
           <div class="container">
               <ul class="row banner-ad">
                   <li class="col-sm-4 col-md-4"><a><img src="window/assets/images/58003a5a9d98c.jpg" /></a></li>
                   <li class="col-sm-4 col-md-4"><a><img src="window/assets/images/58003a6ed6e2d.jpg" /></a></li>
                   <li class="col-sm-4 col-md-4"><a><img src="window/assets/images/580867d595385.jpg" /></a></li>
               </ul>
           </div>
       </section>
       <section class="page-box">
           <div class="container">
               <div class="seckill-tit">
                   <b>今日新款</b>
               </div>
               <div class="seckill-con">
                   <ul class="row seckill-list J-seckill">

                   </ul>
                   <div class="mPages">
                       <ul class="pagination">

                       </ul>
                   </div>
               </div>

               <div class="middle-banner middle-bm"><a><img src="window/assets/images/middle.jpg" /></a></div>
           </div>
       </section>
   </div>

<% include foot %>
</body>
<script type="text/javascript">
    $('#myCarousel').carousel({
        interval: 3000
    });
</script>
<script type="text/javascript" src="window/assets/js/goods.js"></script>
</html>