<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【狸淘网官网】狸淘网,天天特价,意见反馈在狸淘网</title>
    <meta name="keywords" content="狸淘网,导购网,狸淘网,u站,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮官网">
    <meta name="description" content="狸淘网(neetao.com)淘牛品u站官网,全网独家商品抄底特价低至1折,更有九块九包邮,9.9特卖商品,每日精选百款9.9包邮品做9块9包邮秒杀活动.【九块邮天天有】">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="window/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="window/assets/css/site.css" />
    <script type="text/javascript" src="window/assets/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="window/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="window/assets/js/index.js"></script>
    <script type="text/javascript" src="/baidu.js"></script>
</head>
<body>
<header>
    <div class="top-head">
        <div class="container">
            <p>温馨提醒：查看<a>微博</a>与<a>QQ空间</a>，获取最新优惠信息更省钱喔！</p>
        </div>
    </div>
    <div class="container">
        <div class="row header">
            <div class="col-xs-4 col-md-3 col-lg-3 logo fl"><a><img src="window/assets/images/logo2x.png" /></a></div>
            <div class="hidden-xs hidden-sm col-lg-4 logo-ad fr"><a><img src="window/assets/images/ensure.png" /></a></div>
            <div class="col-xs-8 col-sm-5 col-md-5 col-lg-4 search-box fr">
                <div class="search-panel fl"><input type="search" class="form-control" placeholder="请输入想查找的宝贝" /></div>
                <div class="search-button fl"><input type="button" class="btn" value="搜索" /></div>

            </div>

        </div>

    </div>
</header>


<div class="main-nav">


    <div class="container">
        <div class="row nav-box">
            <div class="col-sm-4 col-md-3">
                <div class="sidebar J-sidebar">
                    <div class="tip">商品分类<i class="free-icon tb-icon"></i></div>

                    <ul class="sidebar-list sidebar-hide">
                        <li class="sidebar-cat sidebar-women">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>女装</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-men">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>男装</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-mother">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>母婴</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-xie">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>鞋包</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-home">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>家居</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-food">
                            <div class="sidebar-big fl">
                                <a href="catid.html"><span>美食</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                                <a href="#">上衣</a><a href="#">套装</a><a href="#">裙子</a>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
            <nav class="col-sm-8 col-md-9 menu">
                <ul class="nav navbar-nav menu-nav">
                    <li class="list"><a class="active" href="/index">首页</a></li>
                    <li class="list"><a href="/package">9.9包邮</a></li>
                    <li class="list"><a href="/boutique">今日新品</a></li>
                    <li class="list"><a href="/hot">热卖排行</a></li>
                    <li class="list"><a href="/coupon">领券购</a></li>
                    <li class="list"><a href="/hot">领红包</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row subside-list J-subcage">
            <div class="col-sm-3 col-md-3 subside">
                <h3 class="title">常见问题分类</h3>
                <div class="subside-cage">
                    <dl class="subside-mod">
                        <dt class="title">关于我们</dt>
                        <dd class="subside-list">
                            <p><a class="active">网站简介</a></p>
                            <p><a>红包领取</a></p>
                        </dd>
                    </dl>
                    <dl class="subside-mod">
                        <dt class="title">买家中心</dt>
                        <dd class="subside-list">
                            <p><a>购物流程</a></p>
                            <p><a>官方地址</a></p>
                        </dd>
                    </dl>
                    <dl class="subside-mod">
                        <dt class="title">帮助中心</dt>
                        <dd class="subside-list">
                            <p><a>联系卖家</a></p>
                            <p><a>物流查询</a></p>

                        </dd>
                    </dl>
                    <dl class="subside-mod">
                        <dt class="title">关注我们</dt>
                        <dd class="subside-list">
                            <p><a>微博</a></p>
                            <p><a>空间</a></p>
                            <p><a>QQ群</a></p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-9 col-md-9">
              <div class="sidebox">
                <div class="breadcrum"><span class="sLevel">关于我们</span>><span class="subLeve">网站简介</span></div>
                <div class="all-ques">
                    <div class="queslist">
                        <p class="dlinden">狸淘网是一家专注服务于广大网购朋友们的在线导购网站平台，专注提供天猫和淘宝的导购服务.</p>
                        <p>【省时+省钱+省心+领红包】是我们的网站特色.</p>
                        <p>狸淘网结合广大网购人群的购物习惯.基于大数据分析天猫/淘宝上热销商品主流风格、价位区间、热销排行、好评等指数,整合数十万款来自天猫/淘宝的产品在我们平台展示.并实时更新最新产品数据.</p>
                        <p>我们自己不生产商品，我们只是天猫/淘宝上物美价廉和最具性价比商品的搬运工和集中地！</p>
                        <p>所以亲，请不用担心我们的平台的不安全，不用担心我们的平台没有保障.因为您所有的购买都是在天猫/淘
                            宝平台上的商家，所有的购物操作也都是在天猫/淘宝上完成. 我们的存在只是集中展示天猫和淘宝上最优
                            秀的产品，帮您省时、省心、省钱，帮您买到最划算的产品，而且每一笔订单我们还额外给您发红包哟！</p>
                    </div>
                    <div class="queslist none">
                        <div class="quesant">
                            <h4>1.为什么要通过狸淘网去天猫/淘宝购物？</h4>
                            <p>狸淘网是通过天猫/淘宝官方审核的导购业务旗下的导购平台.我们与天猫/淘宝上数十万优质卖家合作，汇集合作商家店铺中销量好、价格实惠、好评高的人气产品.让您不用再盲目逛淘宝/天猫.让您的购物真正变得【省时、省心、省钱，每笔订单都有红包领】</p>
                        </div>
                        <div class="quesant">
                            <h4>2.为什么每笔订单都能领到狸淘网的红包？</h4>
                            <p>狸淘网是与天猫/淘宝上数十万优质的卖家合作的，当您通过我们网站上的产品去天猫/淘宝上下单
                                买了商品，我们狸淘网这边都会为每一个商品准备对应的红包,目的是为了给广大买家朋友们创造良好的购物体验.让您在享受购物的同时，还能每笔订单都可以领取我们狸淘网提供的红包.</p>
                        </div>
                        <div class="quesant">
                            <h4>3.红包怎么领取？</h4>
                            <p>领取过程非常简单，您通过我们狸淘网上的产品去天猫/淘宝下的订单，在收到包裹确认收货后,可以向狸淘网工作人员提供该笔订单的天猫/淘宝订单截图. 或者 提供订单编号. 即可领取我们发给您的微信或支付宝红包.</p>
                        </div>
                        <div class="quesant">
                            <h4>4.怎么联系狸淘网工作人员？</h4>
                            <p>加入我们狸淘网官方客服微信群或者QQ群.联系我们的客服,我们会给您发微信或者支付宝红包！同时我们的微信群也经常会有红包惊喜.</p>
                        </div>
                    </div>
                    <div class="queslist none">
                        <p>1.通过电脑或者手机浏览器地址栏中输入 neetao.com 打开网站. 也可以用手机扫描狸淘网的二维码打开.</p>
                        <p>2.网站打开后，可以通过商品分类打开对应类目选择想买的产品，点击产品图片进入天猫/淘宝网对应的产品.用您自己的淘宝账号登录淘宝网.然后在天猫/淘宝上拍下完成付款操作.所有的操作就跟您平时在淘宝上买东西一样的, 我们网站只是为您汇集了淘宝上优质的商家产品.</p>
                    </div>
                    <div class="queslist none">
                        本站官方地址为：www.neetao.com,敬请访问，也可通过手机扫码访问。
                    </div>
                    <div class="queslist none">
                        <p>购物过程中有对产品信息不了解的或者发货快递不了解的 都可以通过旺旺与卖家联系咨询. 我们汇集的产品一般都是比较优质的商家和比较优质的商品，销量和评价都比较好的宝贝.</p>
                    </div>
                    <div class="queslist none">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;就跟平时购物时一模一样，你在淘宝上拍下付款后，卖家发货后你就能看到物流状态了.一般在您的订单里就能查看到物流状态. 如果没看到您可
                            以有三种方式查询：</p><p>(1)咨询卖家，让其帮忙查看.</p><p>(2)自己在对应的快递官网上查询，百度就可以.</p><p> (3) 把快递名称和快递单号发给我们狸淘网的客
                            服，让我们协助帮您查询.</p>

                    </div>
                    <div class="queslist none">

                            <p>途径：新浪微博、QQ空间、QQ群、微信群.</p>

                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-box">
        <div class="container">
            <div class="row">
                <div class="foot-code fr hidden-md hidden-sm">
                    <div class="fl code-mobile">
                        <h4>WAP访问</h4>
                        <img src="window/assets/images/qrcode.png" />
                    </div>
                    <div class="fl code-weixin">
                        <h4>微信号</h4>
                        <img src="window/assets/images/qrcode.png" />
                    </div>
                </div>
                <ul class="foot-nav fl">
                    <li class="nav-list">
                        <h3 class="title">关于我们</h3>
                        <p class="item"><a>网站简介</a></p>
                        <p class="item"><a>官方地址</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">买家中心</h3>
                        <p class="item"><a>购物流程</a></p>
                        <p class="item"><a>红包领取</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">帮助中心</h3>
                        <p class="item"><a>联系卖家</a></p>
                        <p class="item"><a>物流查询</a></p>
                        <p class="item"><a>售后协助</a></p>
                    </li>
                    <li class="nav-list">
                        <h3 class="title">关注我们</h3>

                        <p class="item"><a>微博</a></p>
                        <p class="item"><a>空间</a></p>
                        <p class="item"><a>QQ群</a></p>
                    </li>
                </ul>

            </div>

        </div>
        <div class="text-center cripte">
            <p class="safe">
                <a><img src="window/assets/images/foot-1.png" /></a>
                <a><img src="window/assets/images/foot-2.png" /></a>
                <a><img src="window/assets/images/foot-3.png" /></a>
            </p>

        </div>
        <div class="cert">
            <p class="copyright">Copyright©2013-2016 狸淘网版权所有 - 鄂ICP备12008188号-2</p>
        </div>
    </div>
</footer>

</body>
</html>