<% include subhead %>

<div class="main">
    <div class="packet-search">
       <div class="container">
           <div class="pane-search row">
               <div class="col-xs-10 col-sm-10 col-md-8 col-sm-offset-2">
                   <a data-type="6" data-tmpl="873x66" data-tmplid="140" data-style="2" data-border="0" biz-s_logo="1" biz-s_hot="1" href="#">搜索</a>
               </div>

           </div>
       </div>

    </div>
    <p class="pstep pstep-one"></p>
    <p class="pstep pstep-two"></p>
    <p class="pstep pstep-third"></p>
    <p class="pstep pstep-four"></p>
    <div class="container">
        <div class="row">
            <div class="col-md-12 frequently">
                <h2 class="title">常见疑问解答</h2>
                <div class="wendas">
                    <dl class="wendas-dl">
                        <dt>1.你在淘宝购物，为什么我们还给你红包？</dt>
                        <dd>答：淘宝/天猫卖家的产品和我们合作，只要通过我们网站有成交我们就可以拿到卖家的佣金。而我们得到的佣金之后，以红包的形式返给买家朋友，不为别的。</dd>
                    </dl>

                    <dl class="wendas-dl">
                        <dt>2.我们网站安全吗？</dt>
                        <dd>答：所有的交易过程都在淘宝网站上完成，我们的存在只是通过开发的软件系统把淘宝/天猫上销量高、好评多、物美价廉的商品整理与汇聚到网站上，方便您购物时更省时、省心、省钱！相当于您在超市购物的导购员。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot %>

</body>
</html>