<% include subhead %>

<div class="main">
    <div class="packet-search">
       <div class="container">
           <div class="pane-search row">
               <div class="col-xs-10 col-sm-10 col-md-10 col-sm-offset-2 packet-search-content">
                   <a data-type="6" data-tmpl="873x66" data-tmplid="140" data-style="2" data-border="0" biz-s_logo="1" biz-s_hot="1" href="#">搜索</a>
               </div>

           </div>
       </div>

    </div>
    <p class="pstep pstep-one"></p>
    <p class="pstep pstep-two"></p>
    <p class="pstep pstep-third"></p>
    <p class="pstep pstep-four"></p>
    <div class="container">
        <div class="row">
            <div class="col-md-12 frequently">
                <h2 class="title">常见疑问解答</h2>
                <div class="wendas">
                    <dl class="wendas-dl">
                        <dt>1.您在淘宝购物，为什么能拿到狸淘网的红包？</dt>
                        <dd>答：淘宝/天猫卖家的商品和我们合作，通过点击狸淘网上的商品或者搜索商品进入淘宝/天猫拍下付款，狸淘网就能拿到淘宝卖家的分成，而我们把得到的分成以红包的形式返给买家朋友。
                            这么做只期望您能成为狸淘网的忠实粉丝！一路帮您省钱，提升品质生活！</dd>
                    </dl>

                    <dl class="wendas-dl">
                        <dt>2.我们网站安全吗？</dt>
                        <dd>答：您的购物流程都在淘宝网站上完成，我们是通过大数据云处理把淘宝/天猫上高销量、高好评的物美价廉的商品整理与汇聚到狸淘网，方便您购物时更省时、省心、省钱！相当于您在超市购物的导购员。</dd>
                    </dl>
                    <dl class="wendas-dl">
                        <dt>3.与淘宝卖家直接返红包的不同？</dt>
                        <dd>答：淘宝卖家返红包基本都对您提出给五星、给好评、晒图等要求，过程繁琐还有时违背意愿。而狸淘网不对您有任何要求，因为我们是从卖家那边自动分成，您只要收到货物了，就可以联系我们领红包.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot %>

</body>
</html>