<% include head %>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 report-reason">
                <h2>您好，您举报" <a>超细纤维强吸水浴巾</a> "的原因是:</h2>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>商品已卖光</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>抢购提前开始</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>商品链接不正确</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>商品分类不正确</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>价格与网站不一致（VIP折扣登录淘宝后才能看到，请登录后查看价格是否一致）</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>商品与描述有误</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox" />
                    <span>其他原因</span>
                </div>
                <div class="report-text">
                    <textarea name="other" class="form-control"></textarea>
                </div>
                <div class="report-btn">
                    <a class="btn btn-success">提交</a>
                </div>
            </div>
            <div class="hidden-sm col-md-5 report-banner">
                <p><img src="window/assets/images/report.jpg" /></p>
                <p>谢谢您的合作</p>
            </div>
        </div>
    </div>
</div>

<% include foot %>

</body>
</html>