<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【狸淘网官网】狸淘网,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮秒杀尽在狸淘网</title>
    <meta name="keywords" content="狸淘网,导购网,狸淘网,u站,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮官网">
    <meta name="description" content="狸淘网(neetao.com)淘牛品u站官网,全网独家商品抄底特价低至1折,更有九块九包邮,9.9特卖商品,每日精选百款9.9包邮品做9块9包邮秒杀活动.【九块邮天天有】">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="window/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="window/assets/css/site.css" />
    <script type="text/javascript" src="window/assets/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="window/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="window/assets/js/index.js"></script>
    <script type="text/javascript" src="/baidu.js"></script>
    <!-- 加载淘宝JSSDK -->
    <script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=<%=app_key%>"></script>
    <script type="text/javascript">
        var category = '<%=category%>';
    </script>
</head>
<body>
<header>
    <div class="top-head">
        <div class="container">
            <p>温馨提醒：查看<a>微博</a>与<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=169eda0e64c5e66a93c7a1900b1677510c1b11f33a66849842c3c7b3c7055bab">QQ群</a>，获取最新优惠信息更省钱喔！</p>
        </div>
    </div>
    <div class="container">
        <div class="row header">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 logo fl"><a><img src="window/assets/images/logo2x.png" /></a></div>
            <div class="hidden-xs hidden-sm col-lg-3 logo-ad fr"><a><img src="window/assets/images/ensure.png" /></a></div>
            <div class="hidden-xs col-xs-8 col-sm-7 col-md-9 col-lg-6 search-box fr">

                <a data-type="6" data-tmpl="573x66" data-tmplid="140" data-style="2" data-border="0" biz-s_logo="1" biz-s_hot="1" href="#">搜索</a>
            </div>
        </div>
    </div>
</header>

<div class="main-nav">
    <div class="container">
        <div class="row nav-box">
            <div class="col-sm-4 col-md-3">
                <div class="sidebar J-sidebar">
                    <div class="tip">商品分类<i class="free-icon tb-icon"></i></div>
                    <ul class="sidebar-list sidebar-hide">
                        <li class="sidebar-cat sidebar-women">
                            <div class="sidebar-big fl">
                                <a href="/catid?category=dress"><span>女生</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="/catid?category=coat">上衣</a><a href="/catid?category=skirt">裙子</a><a href="/catid?category=trousers">裤子</a>
                                <a href="/catid?category=dress">套装</a><a href="/catid?category=underwear">内衣配饰</a><a href="/catid?category=ladyshoes">女鞋</a><a href="/catid?category=ladybags">女包</a>
                            </div>
                        </li>
                        <li class="sidebar-cat sidebar-mother">
                            <div class="sidebar-big fl">
                                <a href="/catid?category=baby"><span>母婴</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="/catid?category=babyproducts">婴儿用品</a><a href="/catid?category=childrengarment">儿童服装</a>
                                <a href="/catid?category=fancytoy">玩具</a>
                                <a href="/catid?category=childrengarment">儿童鞋袜</a><a href="/catid?category=pregnantmothersupplies">妈妈用品</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-men">
                            <div class="sidebar-big fl">
                                <a href="/catid?category=malecoat"><span>男生</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="/catid?category=malecoat">外套</a><a href="/catid?category=jacket">上衣</a>
                                <a href="/catid?category=tshirt">衬衫T恤</a>
                                <a href="/catid?category=pants">裤子</a><a href="/catid?category=calecon">内衣配饰</a>
                                <a href="/catid?category=shoesman">男鞋</a><a href="/catid?category=shoesman">男包</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-xie">
                            <div class="sidebar-big fl">
                                <a href="/catid?category=six"><span>数码</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="/catid?category=seven">7/7ps配件</a><a href="/catid?category=six">6/6ps配件</a>
                                <a href="/catid?category=seven">三星配件</a><a href="/catid?category=seven">华为配件</a>
                                <a href="/catid?category=seven">OPPO配件</a><a href="/catid?category=seven">平板配件</a>
                                <a href="/catid?category=seven">电脑配件</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-home">
                            <div class="sidebar-big fl">
                                <a href="/catid?category=house"><span>生活</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="/catid?category=household">家居家纺</a>
                                <a href="/catid?category=makeup">护肤美妆</a><a href="/catid?category=adultproducts">成人用品</a>
                                <a href="/catid?category=shoesman">行李箱包</a>
                            </div>

                        </li>
                        <li class="sidebar-cat sidebar-food">
                            <div class="sidebar-big fl">
                                <a href="/catid?category=food"><span>美食</span></a>
                            </div>
                            <div class="sidebar-small">
                                <a href="/catid?category=nuts">坚果枣干类</a><a href="/catid?category=snacks">零食大礼包</a>
                                <a href="/catid?category=cookedfood">肉类熟食类</a><a href="/catid?category=tea">茶叶咖啡类</a>

                            </div>

                        </li>
                    </ul>
                </div>

            </div>
            <nav class="col-sm-8 col-md-9 menu">
                <ul class="nav navbar-nav menu-nav">
                    <li class="list"><a class="active" href="/index">首页</a></li>
                    <li class="list"><a href="/package?category=99">9.9包邮</a></li>
                    <li class="list"><a href="/boutique">今日新品</a></li>
                    <li class="list"><a href="/hot">热卖排行</a></li>
                    <!--<li class="list"><a href="/coupon">领券购</a></li>-->
                    <li class="list"><a href="/redpacket">领红包</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>