/*********主体main************/
.main {height: auto;overflow: visible;max-width: 640px;min-width:320px;width:100%;margin: 0 auto;background: #f6f4f4;position:relative;}
 /*---首页---*/
.app {position: absolute;width: 100%;margin: 0 auto;background: #f6f4f4;}

/*--轮播图--*/
.app .app-lunbo {margin: 0px 0px 5px 0px;}
#lunbo{margin:0 auto;z-index:1; width:100%; height:auto; overflow:hidden;}
#frame{-webkit-transform:rotate(0deg);width:100%;padding:0px; margin:0 auto; z-index:0; }
#inner{ width:100%;overflow:hidden;position:relative; }
#inner ul{ width:100%;position:relative;vertical-align: middle;}
#inner li{width:100%;position:absolute;left:0px;opacity:0;  }
#inner li img{ width:100%;height:auto;min-height: 130px;}

#inner li.animation00,
#slider01:checked ~ #inner li.animation00,
#slider02:checked ~ #inner li.animation02,
#slider03:checked ~ #inner li.animation03,
#slider04:checked ~ #inner li.animation04,
#slider05:checked ~ #inner li.animation05
{ -webkit-animation:img01 20s linear infinite;}

#inner li.animation01,
#slider05:checked ~ #inner li.animation01,
#slider01:checked ~ #inner li.animation02,
#slider02:checked ~ #inner li.animation03,
#slider03:checked ~ #inner li.animation04,
#slider04:checked ~ #inner li.animation05
{ -webkit-animation:img02 20s linear infinite; }

#inner li.animation02,
#slider04:checked ~ #inner li.animation01,
#slider05:checked ~ #inner li.animation02,
#slider01:checked ~ #inner li.animation03,
#slider02:checked ~ #inner li.animation04,
#slider03:checked ~ #inner li.animation05
{ -webkit-animation:img03 20s linear infinite; }

#inner li.animation03,
#slider03:checked ~ #inner li.animation01,
#slider04:checked ~ #inner li.animation02,
#slider05:checked ~ #inner li.animation03,
#slider01:checked ~ #inner li.animation04,
#slider02:checked ~ #inner li.animation05
{ -webkit-animation:img04 20s linear infinite;}

#inner li.animation04,
#slider02:checked ~ #inner li.animation01,
#slider03:checked ~ #inner li.animation02,
#slider04:checked ~ #inner li.animation03,
#slider05:checked ~ #inner li.animation04,
#slider01:checked ~ #inner li.animation05
{ -webkit-animation:img05 20s linear infinite;}

@-webkit-keyframes img01  {
  0% { left:0px; }
18% { left:0px; opacity:1; z-index:0; }
20% { left:760px; opacity:0; z-index:0;}
21% { left:-760px; opacity:0; z-index:-1;}
96% { left:-760px; opacity:0; z-index:0;}
98% { left:-760px; opacity:0; }
100% { left:0px; opacity:1; }
}

@-webkit-keyframes img02 {
  0% { left:-760px; opacity:0; }
18% { left:-760px; opacity:0; z-index:0; }
20% { left:0px; opacity:1; z-index:0; }
38% { left:0px; opacity:1; z-index:0;}
40% { left:760px; opacity:0; z-index:0;}
41% { left:-760px; opacity:0; z-index:-1; }
100% { left:0px; opacity:0; z-index:0;}
}

@-webkit-keyframes img03  {
  0% { left:-760px; opacity:0; z-index:0 }
38% { left:-760px; opacity:0; z-index:0}
40% { left:0px; opacity:1; z-index:0;}
58% { left:0px; opacity:1; }
60% { left:760px; opacity:0; z-index:0;}
61% { left:-760px; opacity:0; z-index:-1; }
100% { left:0px; opacity:0; }
}

@-webkit-keyframes img04  {
  0% { left:-760px; opacity:0; z-index:0}
58% {  left:-760px; opacity:0; z-index:0;}
60% { left:0px; opacity:1; z-index:0}
78% {  left:0px; opacity:1; z-index:0;}
80% { left:760px; opacity:0; z-index:0;}
81% { left:-760px; opacity:0; z-index:-1; }
100% {  left:-760px; opacity:0; }
}

@-webkit-keyframes img05  {
  0% { left:-760px; }
78% { left:-760px; opacity:0; z-index:0; }
80% { left:0px; opacity:1; z-index:0}
98% { left:0; opacity:1; z-index:0;}
100% { left:760px; opacity:0; }
}


/****************************************************/
/*
* 滑块代码组块开始*/

#lbutton{ width:100%; text-align:center;  z-index: 999; color:#fff;position:absolute;bottom:10px;  }

#lbutton label{ width:22px; height:10px; display:inline-table; border-radius:50%; background:rgb(19,91,125);}

#lbutton label.label6{ display:none; }

#lbutton label.lb1,
#slider01:checked ~ #lbutton label:nth-child(1),
#slider02:checked ~ #lbutton label:nth-child(2),
#slider03:checked ~ #lbutton label:nth-child(3),
#slider04:checked ~ #lbutton label:nth-child(4),
#slider05:checked ~ #lbutton label:nth-child(5)
{ -webkit-animation:label01 20s linear infinite; }

#lbutton label.lb2,
#slider05:checked ~ #lbutton label:nth-child(1),
#slider01:checked ~ #lbutton label:nth-child(2),
#slider02:checked ~ #lbutton label:nth-child(3),
#slider03:checked ~ #lbutton label:nth-child(4),
#slider04:checked ~ #lbutton label:nth-child(5)
{ -webkit-animation:label02 20s linear infinite; }

#lbutton label.lb3,
#slider04:checked ~ #lbutton label:nth-child(1),
#slider05:checked ~ #lbutton label:nth-child(2),
#slider01:checked ~ #lbutton label:nth-child(3),
#slider02:checked ~ #lbutton label:nth-child(4),
#slider03:checked ~ #lbutton label:nth-child(5)
{ -webkit-animation:label03 20s linear infinite; }

#lbutton label.lb4,
#slider03:checked ~ #lbutton label:nth-child(1),
#slider04:checked ~ #lbutton label:nth-child(2),
#slider05:checked ~ #lbutton label:nth-child(3),
#slider01:checked ~ #lbutton label:nth-child(4),
#slider02:checked ~ #lbutton label:nth-child(5)
{ -webkit-animation:label04 20s linear infinite; }

#lbutton label.lb5,
#slider02:checked ~ #lbutton label:nth-child(1),
#slider03:checked ~ #lbutton label:nth-child(2),
#slider04:checked ~ #lbutton label:nth-child(3),
#slider05:checked ~ #lbutton label:nth-child(4),
#slider01:checked ~ #lbutton label:nth-child(5)
{ -webkit-animation:label05 20s linear infinite; }

@-webkit-keyframes label01 {
 0% { background:#dc4642; }
 20% { background:#dc4642; }
 21% { background:rgb(214,224,227);}
 100% { background:rgb(214,224,227);}
 }

@-webkit-keyframes label02 {
 0% { background:rgb(214,224,227);}
 20% { background:rgb(214,224,227);}
 21% { background:#dc4642; }
 40% { background:#dc4642; }
 41% { background:rgb(214,224,227);}
 100% { background:rgb(214,224,227);}
 }
@-webkit-keyframes label03 {
 0% { background:rgb(214,224,227);}
 40% { background:rgb(214,224,227);}
 41% { background:#dc4642; }
 60% { background:#dc4642; }
 61% { background:rgb(214,224,227);}
 100% { background:rgb(214,224,227);}
 }
@-webkit-keyframes label04 {
 0% { background:rgb(214,224,227);}
 60% { background:rgb(214,224,227);}
 61% { background:#dc4642; }
 80% { background:#dc4642; }
 81% { background:rgb(214,224,227);}
 100% { background:rgb(214,224,227);}
 }
@-webkit-keyframes label05 {
 0% { background:rgb(214,224,227);}
 80% { background:rgb(214,224,227);}
 81% { background:#dc4642; }
 100%{ background:#dc4642; }
 }

/*--精选新品--*/
.main .app-goods .recommend {padding-left: 10px;margin: 10px 0px 0px 0px;background: #fff;height: 30px;}
.main .app-goods .recommend .fa-heart {font-size: 1rem;vertical-align: -webkit-baseline-middle;}
.main .app-goods .recommend span {font-size: 0.8rem; vertical-align: -webkit-baseline-middle;}

/*-----------------------[产品列表页 product.ejs]---------------------*/
  /*--头部--*/
  #head ul li.left i.fa-angle-left {font-size: 1.5rem;font-weight: bold;}
  #head ul li.center span {font-size: 1rem;font-weight: bold;color: #f60;}
  /*--标签分类--*/
  .app-goods .goods-tag {padding-left: 10px;padding-top: 10px;}
  .app-goods .goods-tag a {display: inline-block;width: 65px;height: 25px;text-align: center;margin: 5px 5px 5px 0px;font-size: 0.9rem;
  border: none;background: #fff;border-radius: 3px;padding-top: 5px;}
  .goods-tag a.current {background: #f60;color: #fff;}


/*-----------------------[商品分类页 classify.ejs]---------------------*/
.app-goods ul.classify-list {width: 92%;margin: 0 auto;padding-left: 15px;margin-bottom: 120px;margin-top: 10px;}
.app-goods ul li.classify-item {float: left;width: 29%;min-height: 140px;margin: 10px 5px 10px 5px;background: #fff;}
.app-goods ul li.classify-item img {display: block;width: 100%;height: 110px;margin: 0 auto;}
.app-goods ul li.classify-item span.classify-title {display:block;text-align: center;letter-spacing: 2px;
font-size:14px;font-weight: 400;color: #666;height: 28px;line-height:28px;border-top-left-radius: 5px;border-top-right-radius: 5px;background: #fbbfa6;}


/*-----------------------[领券购页 ticket.ejs]---------------------*/
.app-goods .top-notice {background: #f60;color:#fff;height: 20px;padding-top: 5px;padding-left: 5px;}
.app-goods ul.ticket {padding: 5px 5px;}
.app-goods ul.ticket li {padding: 5px;background: #fff;overflow: hidden;margin-bottom: 10px;}
.app-goods ul.ticket li .ticket-left {float: left;width: 42%;padding: 5px;margin-right: 3%;vertical-align: middle;margin-top: 5px;}
.app-goods ul.ticket li .ticket-left img {width: 100%;height: 100%;padding-top: 5px;}
.app-goods ul.ticket li .ticket-right {float:left;width: 48%;padding: 5px 0px 5px 5px;}
.app-goods ul.ticket li .ticket-right h2 {margin-top: 10px;margin-bottom: 10px;font-size: 0.9rem;height: 1.1rem;overflow: hidden;}
.app-goods ul.ticket li .ticket-right p {margin-bottom: 10px;font-size: 0.8rem;}
.app-goods ul.ticket li .ticket-right p em {font-size: 1rem;color: #f60;}
.app-goods ul.ticket li .ticket-right .sale-price {padding: 5px 5px;background: #f60;color: #fff;border-radius: 5px;}
.app-goods ul.ticket li .ticket-right .sale-price span  {font-size: 0.9rem;vertical-align: bottom;display: block;padding-bottom: 3px;}
.app-goods ul.ticket li .ticket-right .sale-price span strong {font-size: 1.2rem;font-weight: bold;}
.app-goods ul.ticket li .ticket-right .sale-price sub {font-size: 0.8rem;}
.app-goods ul.ticket li .ticket-right .buy-process {margin-top: 10px;}
.app-goods ul.ticket li .ticket-right .buy-process .buy-btn {margin-top: 10px;}
.app-goods ul.ticket li .ticket-right .buy-process h3 {font-size: 0.8rem;color:#333;margin-bottom: 5px;}
.app-goods ul.ticket li .ticket-right .buy-process a {background: #f60;border: 1px dotted #fff;padding: 5px 10px;color: #fff;font-size: 0.8rem;border-radius: 5px;}
@media only screen and (max-width:400px){
  .app-goods ul.ticket li {padding: 3px;}
.app-goods ul.ticket li .ticket-left {float: left;width: 41%;margin-right: 1%;}
.app-goods ul.ticket li .ticket-left img {padding-top: 10px;}
.app-goods ul.ticket li .ticket-right {float:left;width:52%;}
.app-goods ul.ticket li .ticket-right h2 {margin-top: 10px;margin-bottom: 10px;font-size: 0.9rem;height: 1rem;}
.app-goods ul.ticket li .ticket-right p {margin-bottom: 5px;font-size: 0.8rem;}
.app-goods ul.ticket li .ticket-right p {margin-bottom: 5px;}
.app-goods ul.ticket li .ticket-right .sale-price span  {font-size: 0.8rem}
.app-goods ul.ticket li .ticket-right .buy-process a {padding: 3px 5px;color: #fff;border-radius: 5px;}
}

.test {}

/*-----------------------[微信遮罩层 ayer.ejs]---------------------*/
.ayer{ position:fixed; left:0; right:0; top:0; bottom:0; height:100%; z-index:999; background:rgba(0,0,0,0.5);}
.ayer .ayer-list{ position:relative;}
.ayer .ayer-list:before{ display:block; height:6.9rem; background:url(../img/icon/link-arrow.png) no-repeat 90% 2rem; content:"";}
.ayer .ayer-list>li{ padding-left:0.9rem; margin-bottom:0.6rem; font-size:1.09rem; line-height:1.75rem; color:#fff;}
.ayer .ayer-list i{ position:relative; top:0.5rem; margin:0 0.6rem; display:inline-block;}
.ayer .ayer-list .circle{ display:inline-block; margin-right:0.6rem; text-align:center; font-family:Arial; height:1.75rem; width:1.75rem; border-radius:50%; background-color:#fa4604;}
.ayer .ayer-list .ayer-btn{  width:2.375rem; height:1.75rem; background:url(../img/icon/link-btn.png) no-repeat; background-size:cover;}
.ayer .ayer-list .ayer-fox{  width:9.06rem; height:1.75rem; background:url(../img/icon/liulan-btn.png) no-repeat; background-size:cover;}