<div class="ayer none">
    <ul class="ayer-list">
        <li><span class="circle">1</span>点击右上角的<i class="ayer-btn"></i>按钮</li>
        <li><span class="circle">2</span>选择<i class="ayer-fox"></i>按钮</li>
    </ul>
</div>