<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="full-screen" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<title>【狸淘网官网】狸淘网,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮秒杀尽在狸淘网</title>
	<meta name="keywords" content="狸淘网,导购网,狸淘网,u站,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮官网">
	<meta name="description" content="狸淘网(neetao.com)淘牛品u站官网,全网独家商品抄底特价低至1折,更有九块九包邮,9.9特卖商品,每日精选百款9.9包邮品做9块9包邮秒杀活动.【九块邮天天有】">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!--css-->
	<link rel="stylesheet" href="mobile/css/base.css" />
	<link rel="stylesheet" href="mobile/css/index.css" />
	<link rel="stylesheet" href="mobile/css/swiper.min.css" />
	<script src="mobile/js/jquery-3.0.0.min.js"></script>
	<script src="mobile/js/swiper.jquery.min.js"></script>
	<script src="mobile/js/index.js"></script>
	<script type="text/javascript" src="/baidu.js"></script>
</head>

<body>
<div class="app">
	<div class="other-head">
		<!--头部-->
		<div class="head-content">
			<span class="btn-back"><i class="iconfont icon-back">&#xe6fe;</i></span>
			<h2 class="head-text">商品分类</h2>

		</div>
	</div>
	<div class="bg-weixin">
		<div id="weixin-code">
			<div class="close-tag"><i class="iconfont">&#xe69d;</i></div>
			<div class="weixin-top-title"><i class="iconfont">&#xe6ef;</i>点击二维码长按关注<i class="iconfont">&#xe6ef;</i></div>
			<img src="img/weixin-public-code-600.jpg" class="weixin-code-pic">
			<div class="weixin-bottom-title">关于我们公众号</div>

		</div>
	</div>
	<!--回到顶部 start-->
	<div class="go-top">
		<p class="go-top-text"><i class="iconfont go-top-arrow">&#xe7f0;</i></p>
	</div>
	<!--回到顶部 end-->
	<div class="main">

		<div class="swiper-container nav-list">
           <ul class="swiper-wrapper">
               <% for(var i in all_category){ %>
			   <li class="swiper-slide"><a href="/mobile/cage?category_id=<%=all_category[i].cid%>"><%=all_category[i].cname%></a></li>
               <% }%>
		   </ul>
		</div>
		<!--加载商品列表 -->
		<div class="recommend"> </div>
		<!--加载分页数据 -->
		<div class="next-page">
			<a class="call_more">
				召唤更多
			</a>
		</div>


	</div>
	<!--foot-->
	<div class="foot">
		<span class="copyright">狸淘网neetao.com 版权所有</span>
	</div>
	<div class="bottom-nav" id="bottom-nav">
		<ul>
            <li>
                <a href="/mobile/index">
                    <span class="bottom-icon iconfont">&#xe835;</span>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="/mobile/redpacket">
                    <span class="bottom-icon iconfont">&#xe681;</span>
                    <span>领红包</span>
                </a>
            </li>
            <li>
                <a class="hover" href="/mobile/hot?orderBy=sales_num&direction=desc">
                    <span class="bottom-icon iconfont">&#xe717;</span>
                    <span>热销</span>
                </a>
            </li>
		</ul>
	</div>
	<!--个人中心弹窗层start-->
	<div class="bg-member">
		<div id="member-center">
			<div class="member-close-tag"><i class="iconfont">&#xe69d;</i></div>
			<div class="member-top-title"><i class="iconfont">&#xe6ef;</i>点击二维码长按关注<i class="iconfont">&#xe6ef;</i></div>
			<img src="img/weixin-public-code-600.jpg" class="member-center-pic">
			<div class="member-bottom-title">关于我们公众号</div>

		</div>
	</div>
	<!--个人中心弹窗层end-->
</div>

<!--遮罩层-->
<% include ayer %>
<script type="text/javascript">
    var queryStr = '<%= queryStr%>';
</script>
<script type="text/javascript" src="mobile/js/goods.js"></script>
<script>
    var swiper = new Swiper('.nav-list', {
        loop : false,
        slidesPerView:5,
        paginationClickable: true,
        spaceBetween: 0,
        noSwiping:false
    });

</script>

</body>

</html>
