<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="full-screen" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="address=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title></title>
		<meta name="keywords" content="实惠猪,QQ群淘客软件,淘宝客软件,QQ群淘客工具">
		<meta name="description" content="实惠猪是专为QQ群淘客量身打造的一款专业QQ群淘客软件，是目前行业内使用人数最多，功能最强大的软件，集合了各种QQ群淘客所需要的功能，彻底解放QQ群淘客的双手。">
		<!--css-->
		<title></title>
		<link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/index.css" />
        <!--js-->
        <script src="js/index.js"></script>
	</head>
	<body>
		<div class="detail">
			<div class="detail-nav">
				<!--详情页顶部导航-->
				<span>
					<a href="javascript:;" onclick="javascript:history.back(-1);"><i class="back-tag" aria-hidden="true"><img src="img/icon/back.png"></i></a>
				</span>
				<span class="detail-title">商品详情</span>
				<span>			
					<a href="index.html"><i class="home-tag"><img src="img/icon/home.png"></i></a>
				</span>
			</div>
			<div class="detail-product">
				<!--主图及标题-->
				<div class="product-img">
					<a>
					   <img src="img/goods/pd00001.jpg">
					</a>
					<span class="img-tag">疯抢中,手慢无</span>
				</div>
				<div class="product-title">
					<span class="tmall-icon"></span>
					<span class="title-text">大码连衣裙秋季女装2016新款中长款修身白色长袖性感蕾丝连衣裙子</span>
				</div>
			</div>
			<div class="tuijian">
				<!--精品推荐-->
				<div class="ad-list">
					<span class="show-pos"></span>
					<span class="show-pos-text">精品推荐</span>
				</div>
				<!--商品列表-->
				<div class="app-goods">
					<section class="goods" id="goods">
						<ul class="good-list clear">
							<li class="goods-item">
								<a class="img" href="detail.html">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10001.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">									
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
							</li>

							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10002.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>										
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>									
									<div class="sold-count clearfix">										
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10003.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>										
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">										
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10004.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>										
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>									
									<div class="sold-count clearfix">										
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10001.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">									
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>										
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>									
									<div class="sold-count clearfix">										
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10002.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10003.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">									
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>										
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10004.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="buy-wrapper">
				<!--底部  券后价-->
				<div class="buy-price">
					<span class="sale-price"><i>￥<b>39.90</b></i></span>
				    <span class="market-price"><i>￥<b>299.00</b></i></span>
				</div>
				
				<a class="quan-btn">
					<span class="quan-btn-l">￥<i>30</i>券</span>
					<span class="quan-btn-r">点击<br>领取</span>
				</a>
				<a class="go-tmall" style="width: 20%;height: 60px;float:right;">
					<span>去天猫</span>
				</a>
			</div>	
		</div>
		<!--底部固定栏： -->
		<footer>
			<div class="foot">
				<div class="foot-copyright">
					<h2>copyright&nbsp;@&nbsp;2016&nbsp;实惠猪电商官网</h2>
				</div>
			</div>
		</footer>
	</body>
</html>
