<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="full-screen" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="address=no" />
		<title>【狸淘网官网】狸淘网,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮秒杀尽在狸淘网</title>
	    <meta name="keywords" content="狸淘网,导购网,狸淘网,u站,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮官网">
	    <meta name="description" content="狸淘网(neetao.com)淘牛品u站官网,全网独家商品抄底特价低至1折,更有九块九包邮,9.9特卖商品,每日精选百款9.9包邮品做9块9包邮秒杀活动.【九块邮天天有】">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!--css-->
		<link rel="stylesheet" href="mobile/css/base.css" />
		<link rel="stylesheet" href="mobile/css/index.css" />
		<link rel="stylesheet" href="mobile/css/font-awesome-4.6.3/css/font-awesome.min.css" />
		<script src="mobile/js/jquery-3.0.0.min.js"></script>
		<script src="mobile/js/index.js"></script>
        <script type="text/javascript" src="/baidu.js"></script>
	</head>
	
	<body>
		<div class="main">
		    <!--头部导航 start-->
			<div id="head">
		      <ul>
		         <li class="left">
		            <!--<span>Menu</span>-->
		         </li>
		          <li class="center">
		            <img src="mobile/img/mobile.logo.png">
		         </li>
		          <li class="right">
		            <!--<span>icon</span>-->
		         </li>
		      </ul>
            </div>
            <!--头部导航 end-->
            <!--轮播幻灯片-->
		    <div class="app-lunbo">
				<div id="lunbo1">
					<div id="frame1">
						<div id="inner">
							<ul>
								<li class="animation00">
								    <img src="mobile/img/b01.jpg">
								</li>
								<li class="animation01">
									<img src="mobile/img/b02.jpg">
								</li>
								<li class="animation02">
									<img src="mobile/img/b03.jpg">
								</li>
								<li class="animation03">
									<img src="mobile/img/b04.jpg">
								</li>
								<li class="animation04">
									<img src="mobile/img/b05.jpg">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="app-goods">
				<!--导航分类-->
				<ul class="app-classify clearfix">
					<li>
			 		    <a href="#">
			 			    <img src="mobile/img/index_baoyou.png">
			 				<span>9.9包邮</span>
			 			</a>
			 	    </li>
			 	    <li>
			 			<a href="/product">
			 			    <img src="mobile/img/index_girl.png">
			 				<span>潮流女装</span>
			 			</a>
			 	    </li>
			 	    <li>
			 			<a>
			 			    <img src="mobile/img/index_foot.png">
			 				<span>鞋包配饰</span>
			 			</a>
			 	    </li>
			 	    <li>
			 			<a>
			 			    <img src="mobile/img/index_mother.png">
			 				<span>母婴用品</span>
			 			</a>
			 	   </li>
			 	    <li>
			 			<a>
			 			    <img src="mobile/img/index_baoyou.png">
			 				<span>领券购</span>
			 			</a>
			 	   </li>
			 	    <li>
			 			<a>
			 			    <img src="mobile/img/index_food.png">
			 				<span>零食美味</span>
			 			</a>
			 	   </li>
			 	    <li>
			 			<a>
			 			    <img src="mobile/img/index_food.png">
			 				<span>美容护肤</span>
			 			</a>
			 	   </li>
			 	    <li>
			 			<a>
			 			    <img src="mobile/img/index_baoyou.png">
			 				<span>今日新品</span>
			 			</a>
			 	   </li>
				</ul>
				<!--今日上新-->
				<div class="recommend">
				 	<!--<i class="fa fa-hand-o-right" aria-hidden="true"></i>-->
					<i class="fa fa-heart" aria-hidden="true"></i>
				 	<span>热销爆款</span>
				 </div>
				<!--产品列表-->
		        <ul class="good-list clearfix">

		        </ul>    
		        <div class="next-page">
		        	<a class="call_more">
		        		召唤更多
		        	</a>
		        </div>
	        <div class="footer-nav">
	        	<ul>
	        		<li>
	        			<a>
	        				<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
	        				<span>今日特惠</span>
	        			</a>
	        		</li>
	        		<li>
	        			<a>
	        				<i class="fa fa-check-square-o" aria-hidden="true"></i>
	        				<span>9.9包邮</span>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="/ticket">
	        				<i class="fa fa-gg-circle" aria-hidden="true"></i>
	        				<span>领券购</span>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="/classify">
	        				<i class="fa fa-list" aria-hidden="true"></i>
	        				<span>商品分类</span>
	        			</a>
	        		</li>
	        	</ul>
	        </div>
	        <!--回到顶部 top-->
				<div class="go-top">
					<p class="go-top-text"><img src="mobile/img/icon/go-top-arrow.png" class="go-top-arrow"/></p>
				</div>
				<style type="text/css">
					.go-top {width: 40px;height: 40px;position: fixed;bottom:30%;left: 80%;background-color: #f60;z-index: 900;border-radius: 50%;display: none;}
					.go-top p.go-top-text{color: #fff;text-align:center;margin-top: 10px;}
					.go-top .go-top-arrow{width: 20px;height: 20px;}
				</style>
			<div class="foot">
				<p>copyright @ 2016 狸淘网官网</p>
			</div>	
		</div>

		</div>

		<!--遮罩层-->
        <% include ayer %>

	</body>
    <script type="text/javascript" src="mobile/js/goods.js"></script>
</html>
