<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="full-screen" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="address=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>狸淘官网_狸淘QQ群淘客助手_最好用的QQ群淘客软件</title>
		<meta name="keywords" content="狸淘,QQ群淘客软件,淘宝客软件,QQ群淘客工具">
		<meta name="description" content="狸淘是专为QQ群淘客量身打造的一款专业QQ群淘客软件，是目前行业内使用人数最多，功能最强大的软件，集合了各种QQ群淘客所需要的功能，彻底解放QQ群淘客的双手。">
		<!--css-->
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
		<!--js-->
		<!--<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>-->
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/index.js"></script>
	</head>
	<body>
		
		<div class="main">
		<!--首页-->
			<div class="app">
			<!--头部-->
				<header id="head" class="head">
					<div class="fixtop">
						<span id="index">
							<i class="logo">
								<img src="img/icon/logo.png" href="http://www.shihuizhu.com">
							</i>
						</span>
						
					</div>
				</header>
			<!--回到顶部 top-->
				<div class="go-top">
					<p class="go-top-text"><img src="img/icon/go-top-arrow.png" class="go-top-arrow"/><br><span>顶部</span></p>
				</div>
				<style type="text/css">
					.go-top {width: 40px;height: 40px;position: fixed;bottom:30%;left: 80%;background-color: #DF1956;z-index: 900;border-radius: 50%;display: none;}
					.go-top p.go-top-text{color: #fff;text-align:center;margin-top: 1px;}
					.go-top .go-top-arrow{width: 16px;height: 16px;}
				</style>
				<!--js-->
				<!--首页轮播幻灯片-->
				<div class="app-lunbo">
					<div id="lunbo">
						<div id="frame">
							<div id="inner">
								<ul>
									<li class="animation00">
										<a href="sales.html"><img src="img/1.jpg"></a>
									</li>
									<li class="animation01">
										<img src="img/2.jpg">
									</li>
									<li class="animation02">
										<img src="img/3.jpg">
									</li>
									<li class="animation03">
										<img src="img/4.jpg">
									</li>
									<li class="animation04">
										<img src="img/5.jpg">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--轮播效果 宽度自适应-->
				 <!--js-->
				 <div class="app-navs clearfix">
				 	<ul>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_baoyou.png">
				 				<span>9.9包邮</span>
				 			</a>
				 		</li>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_girl.png">
				 				<span>潮流女装</span>
				 			</a>
				 		</li>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_foot.png">
				 				<span>美容护肤</span>
				 			</a>
				 		</li>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_food.png">
				 				<span>鞋包配饰</span>
				 			</a>
				 		</li>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_foot.png">
				 				<span>母婴玩具</span>
				 			</a>
				 		</li>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_food.png">
				 				<span>美食特产</span>
				 			</a>
				 		</li>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_baoyou.png">
				 				<span>家居用品</span>
				 			</a>
				 		</li>
				 		<li>
				 			<a>
				 				<img src="img/icon/index_baoyou.png">
				 				<span>今日新品</span>
				 			</a>
				 		</li>
				 	</ul>
				 </div>
				 <div class="recommend">
				 	<i class="fa fa-hand-o-right" aria-hidden="true"></i>
				 	<span>精选推荐</span>
				 </div>
		
				<!--首页商品展示模块-->
				<div class="app-goods">
					<section class="goods" id="goods">
						<ul class="good-list clear">
							<li class="goods-item">
								<a class="img" href="detail.html">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10001.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">									
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
							</li>

							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10002.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">										
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10003.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">									
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10004.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">									
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>										
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10001.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10002.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">									
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10003.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">								
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>								
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">								
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10004.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">								
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">								
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
						</ul>
					</section>
				</div>
				<footer>
					<div class="foot">
						<div class="foot-copyright">
							<h2>copyright&nbsp;@&nbsp;2016&nbsp;狸淘电商官网</h2>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>
