<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		 <title>实惠猪软件官网_实惠猪,微信猪,聚合猪_最强大的淘宝客软件</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="full-screen" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="address=no" />
		<meta name="keywords" content="实惠猪,实惠猪官网,实惠猪软件,微信猪,聚合猪,裂变猪,导购猪,订单猪,群管猪">
		<meta name="description" content="实惠猪系列软件包含:实惠猪、微信猪、聚合猪（裂变猪、导购猪、订单猪、群管猪），实惠猪是淘宝客软件中的第一品牌，拥有业内最强大的功能，销量第一，口碑第一。买淘客软件，请认准实惠猪。">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!--css-->
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css" />
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/index.js"></script>
	</head>
	
	<body>
		<div class="main">
		    <!--头部导航 start-->
			<div id="head">
		      <ul>
		         <li class="left">
		            <a href="javascript:;" onclick="javascript:history.back(-1);"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		         </li>
		          <li class="center">
		            <!--<img src="img/mobile.logo.png">-->
		            	<span>9.9包邮</span>
		         </li>
		          <li class="right">
		            <!--<span>icon</span>-->
		         </li>
		      </ul>
            </div>
            <!--头部导航 end-->
			<script>
					$(document).ready(function(){
						$(".goods-tag>a").click(function(){
							$(this).addClass("current").siblings().removeClass("current");
						});
					});
				</script>
			<div class="app-goods">
				<!--标签分类-->
				<div class="goods-tag">
					<a class="current">全部</a>
					<a>上衣</a>
					<a>套装</a>
					<a>裙子</a>
					<a>保暖裤</a>
					<a>裤子</a>
					<a>内衣</a>
					<a>外套</a>
					<a>袜子</a>
					<a>文胸</a>
				</div>
				
				<!--今日上新-->
				<div class="recommend">
				 	<i class="fa fa-hand-o-right" aria-hidden="true"></i>
				 	<span>热销爆款</span>
				 </div>
				<!--产品列表-->
		        <ul class="good-list clearfix">
		            <li class="goods-item">
		               <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/1.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		            <li class="goods-item">
		                <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/2.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		             <li class="goods-item">
		                <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/3.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		             <li class="goods-item">
		                <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/4.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		            <li class="goods-item">
		                <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/3.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		             <li class="goods-item">
		                <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/4.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		             <li class="goods-item">
		                <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/3.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		             <li class="goods-item">
		                <a href="">
			                <span class="quan-tag">独家券<br>15 元 </span>
			                <img src="img/4.jpg" alt="">
			                <div class="goods-info">
			                    <p class="goods-title">休闲运动服饰女式运动套装</p>
			                    <span class="goods-price">￥<em>45.00</em></span>
			                    <span class="sale-num"><em>963</em>人已买</span>
			                </div>
		                </a>
		            </li>
		        </ul>    
		        <div class="next-page">
		        	<a>
		        		下一页
		        	</a>
		        </div>
	        <div class="footer-nav">
	        	<ul>
	        		<li>
	        			<a>
	        				<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
	        				<span>今日特惠</span>
	        			</a>
	        		</li>
	        		<li>
	        			<a>
	        				<i class="fa fa-check-square-o" aria-hidden="true"></i>
	        				<span>9.9包邮</span>
	        			</a>
	        		</li>
	        		<li>
	        			<a>
	        				<i class="fa fa-gg-circle" aria-hidden="true"></i>
	        				<span>领券购</span>
	        			</a>
	        		</li>
	        		<li>
	        			<a>
	        				<i class="fa fa-list" aria-hidden="true"></i>
	        				<span>分类</span>
	        			</a>
	        		</li>
	        	</ul>
	        </div>
	        <!--回到顶部 top-->
				<div class="go-top">
					<p class="go-top-text"><img src="img/icon/go-top-arrow.png" class="go-top-arrow"/></p>
				</div>
				<style type="text/css">
					.go-top {width: 40px;height: 40px;position: fixed;bottom:30%;left: 80%;background-color: #f60;z-index: 900;border-radius: 50%;display: none;}
					.go-top p.go-top-text{color: #fff;text-align:center;margin-top: 10px;}
					.go-top .go-top-arrow{width: 20px;height: 20px;}
				</style>
			<div class="foot">
				<p>copyright @ 2016 实惠猪电商官网</p>
			</div>	
		</div>
		
	</body>
</html>
