<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="wap-font-scale" content="no">
	<meta name="360-site-verification" content="477749250fec3b7f2286d1a0c511b0cd" />
	<meta id="WV.Meta.EnableLongPressEvent" value="true" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>粉丝福利购</title>
	<!--css-->
	<link rel="stylesheet" href="mobile/css/base.css" />
	<link rel="stylesheet" href="mobile/css/index.css" />
	<link rel="stylesheet" href="mobile/css/swiper.min.css" />
	<!--js-->
	<script src="mobile/js/jquery-3.0.0.min.js"></script>
	<script src="mobile/js/index.js"></script>
</head>
<body>
<div class="app">

	<div class="other-head">
		<!--头部-->
		<div class="head-content">
			<span class="btn-back"><i class="iconfont icon-back">&#xe6fe;</i></span>
			<h2 class="head-text">粉丝福利购</h2>

		</div>
	</div>

	<!--logo-->
	<div class="head-logo"><img src="ticket_pc/images/new_logo.png"></div>

	<!--回到顶部 start-->
	<div class="go-top">
		<p class="go-top-text"><i class="iconfont go-top-arrow">&#xe6f4;</i></p>
	</div>
	<!--回到顶部 end-->

	<div class="main">
		<div class="redpackage-rules">
			<h3>红包领取说明：</h3>
			<p>1.凡是通过狸淘网领券去淘宝下单付款的商品，在收到货后均可以联系狸淘网QQ群管理员领取现金红包.</p>
			<p>狸淘网QQ群:420029491</p>

			<h3>购买流程：</h3>
			<p>1.点击领券，页面会自动跳转至淘宝页面对应的商品.</p>
			<p class="buy-tips">（如果手机装了手机淘宝会自动打开，没有安装手机淘宝会通过浏览器打开）</p>
			<p>2.点击【立即购买】,进入付款页面.</p>
			<p class="buy-tips">请不要把商品加入购物车，否则就没有红包发给您.</p>
			<p>3.您会看到实际付款价格 = 淘宝在售价 - 优惠券金额. 确实便宜很多！</p>

			<h3>帮您省钱多少？</h3>
			<p>优惠券金额 + 返现红包 = 您节省的金额</p>
			<p class="buy-tips">通过狸淘网领券，购买同款商品，比直接去淘宝省钱可不止一点点！</p>
		</div>


		<div class="recpackage-contact">
			<h3>狸淘网福利QQ群</h3>
			<p>
				<img src="ticket_pc/images/load-ewm.jpg">
			</p>
		</div>
	</div>





	<!--foot-->
	<div class="foot">
		<span class="copyright">狸淘网neetao.com 版权所有</span>
	</div>
	<div class="bottom-nav" id="bottom-nav">
        <ul>
            <li>
                <a href="/mobile/index">
                    <span class="bottom-icon iconfont">&#xe835;</span>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a class="hover" href="/mobile/redpacket">
                    <span class="bottom-icon iconfont">&#xe681;</span>
                    <span>领红包</span>
                </a>
            </li>
            <li>
                <a href="/mobile/hot?orderBy=sales_num&direction=desc">
                    <span class="bottom-icon iconfont">&#xe717;</span>
                    <span>热销</span>
                </a>
            </li>
        </ul>
	</div>

</div>
</body>
</html>
