<!DOCTYPE html>
<html>
	<head>
		<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="full-screen" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="address=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>实惠猪官网_实惠猪QQ群淘客助手_最好用的QQ群淘客软件</title>
		<meta name="keywords" content="实惠猪,QQ群淘客软件,淘宝客软件,QQ群淘客工具">
		<meta name="description" content="实惠猪是专为QQ群淘客量身打造的一款专业QQ群淘客软件，是目前行业内使用人数最多，功能最强大的软件，集合了各种QQ群淘客所需要的功能，彻底解放QQ群淘客的双手。">
		<!--css-->
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<!--js-->
		<!--<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>-->
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/index.js"></script>
	</head>
	<body style="padding-bottom: 45px;background: #fff;">
		
		<div class="main">
			<!--侧边菜单-->
			<div class="app-other">
				<div class="slide-con">
					<ul>
						<!--搜索框-->
						<li class="search">
							<div id="search-box">
								<!--<form id="search-form" action="" method="">-->
									<div class="box-search">
										<input type="text" id="keyword" name="keyword" placeholder="请输入搜索商品"/>
									</div>
									<button id="search-submit" type="submit">
										<img src="img/icon/search.png">
									</button>								
								<!--</form>-->
							</div>
						</li>
						<!--首页-->
						<li class="normal active">
							<a  href="index.html">
								<em class="home"></em>
								首页
							</a>
						</li>
						<!--菜单分类-->
						<li class="normal">
							<a href="sales.html">
								<em class="fushi"></em>
								服饰鞋包
							</a>
						</li>
						<li class="normal">
							<a href=""><em class="jujia"></em>
								家居用品
							</a>
						</li>
						<li class="normal">
							<a href=""><em class="meizhuang"></em>
								美容护理
							</a>
						</li>
						<li class="normal">
							<a href=""><em class="muying"></em>
								母婴用品
							</a>
						</li>
						<li class="normal">
							<a href=""><em class="meishi"></em>
								食品&保健
							</a>
						</li>
						<li class="normal">
							<a href=""><em class="shuma"></em>
								3C数码
							</a>
						</li>
						<li class="normal">
							<a href=""><em class="jiazhuang"></em>
								家装家饰
							</a>
						</li>
					</ul>
					<p style="display: none;">
						<a href="">
							<em class="icon-user"></em><br>
							个人中心
						</a>
						<a href="">
							<em class="icon-about"></em><br>
							关于实惠猪
						</a>
					</p>
				</div>
			</div>
		
		<!--主页面-->
			<div class="app">
			<!--头部-->
				<header id="head" class="head">
					<div class="fixtop">
						<span id="classify" class="classify">
							<a class="btn btn-left btn-type"></a>
						</span>
						<span id="index">
							<i class="logo">
								<img src="img/icon/logo.png" href="http://www.shihuizhu.com">
							</i>
						</span>
						<span id="user" class="user-md" style="display:none;">
							<a href="login.html" class="btn-sign"><img src="img/icon/login-icon.png"></a>
						</span>
					</div>
				</header>
				
				<!--弹出层，作用：当点击菜单显示按钮显示出侧边菜单栏时，用于阻挡用户点击网站页面内容-->
				<div class="alert-fullbg"></div>
				<!--点击左上角按钮 出现 侧边栏菜单-->
			      <!--js-->
			 <!--回到顶部 top-->
				<div class="go-top">
					<p class="go-top-text"><img src="img/icon/go-top-arrow.png" class="go-top-arrow"/><br><span>顶部</span></p>
				</div>
				<style type="text/css">
					.go-top {width: 40px;height: 40px;position: fixed;bottom:30%;left: 80%;background-color: #DF1956;z-index: 900;border-radius: 50%;display: none;}
					.go-top p.go-top-text{color: #fff;text-align:center;margin-top: 1px;}
					.go-top .go-top-arrow{width: 16px;height: 16px;}
				</style>
				
			<!--导航栏-->
				<nav class="nav" id="nav">
					<div class="box ovfx">
						<ul class="box ovfx_w">
							<li>
								<a href="index.html">
								<span>首&nbsp;&nbsp;页</span>
								<em class="line"></em>
							    </a>
							</li>
							<li>
								<a href="sales.html" class="active">
								<span>今日疯抢</span>
								<em class="line"></em>
							    </a>
							</li>
							<li>
								<a href="#">
								<span>优惠券直播</span>
								<em class="line"></em>
							    </a>
							</li>
							<li>
								<a href="#">
								<span>优质评分榜</span>
								<em class="line"></em>
							    </a>
							</li>
							<li class="nav-four">
								<a href="#">
								<span>白菜价商品</span>
								<em class="line"></em>
							    </a>
							</li>
						</ul>
					</div>
				</nav>
				<!--导航栏 点击变色-->
				<!--js-->
				<!--商品展示列表-->
				<div class="app-goods">
					<section class="goods" id="goods">
						<ul class="good-list clear">
							<li class="goods-item">
								<a class="img" href="detail.html">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10005.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>									
									<div class="sold-count clearfix">										
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>										
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>

							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10002.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">									
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">										
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>										
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10003.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">									
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">									
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>									
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>										
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10004.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">										
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>									
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10001.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">										
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">									
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>							
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>									
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10002.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">									
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">								
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>							
									<div class="sold-count clearfix">								
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>										
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10003.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">								
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>									
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
							
							<li class="goods-item">
								<a class="img">
									<span class="img-label">独家券<br>20元</span>
									<img src="img/goods/10004.jpg">
								</a>
								<div class="goods-info">
									<h3 class="title clearfix" href="">								
										<div class="pd-title">韩版拉杆箱学生旅行箱密码行李箱登机箱子万向轮男女20寸24寸28</div>
									</h3>
									<div class="price-wrap clearfix">								
										<span class="m-icon">￥</span>
										<span class="price">20.80</span>
										<span class="youpin"></span>									
										<div class="yuanjia">
											<span class="text">￥</span>
											<span class="num">30.8</span>	
										</div>
									</div>								
									<div class="sold-count clearfix">									
										<div class="sold-text">
										   <span>16899</span>人已买
										</div>										
									</div>
								</div>
								<div class="generalize" style="display: none;">
									<a class="expand" href="">立即推广</a>
									<a class="choose addcar" href="">选取</a>
								</div>
							</li>
						</ul>
					</section>
					</div>
					<footer>
					<div class="foot">
						<div class="foot-copyright">
							<h2>copyright&nbsp;@&nbsp;2016&nbsp;实惠猪电商官网</h2>
						</div>
					</div>
				</footer>
				</div>
	</body>
</html>
