<%include head %>
<!------网站中部------>
<article id="ibox">

<!------今日新品------>

<div class="cate-nav">
	<div class="middle w1205 hottest">
		<a class="hover">全部<i>(3259)</i></a><a>上衣<i>(359)</i></a><a>套装<i>(329)</i></a><a>裙子<i>(59)</i></a><a>上衣<i>(359)</i></a><a>套装<i>(329)</i></a><a>裙子<i>(59)</i></a>
	</div>
</div>

<div class="w1205 middle">
  <section>
	  <div class="floor-list">
		  <!-- <div class="sort">
                   <a class="sort-nav sort-curn">综合</a><a class="sort-nav">销量</a><a class="sort-nav">价格<span><i class="up_triangle"></i><i class="down_triangle"></i></span></a><a class="sort-nav">最新</a>
                    <a class="sort-chose sort-checked"><i></i>只看特卖商城</a><a class="sort-chose"><i></i>只看天猫/淘宝</a>
                </div>-->
		  <div class="floor-goods">
			  <ul class="goods-list">
				 <li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp001.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
				 <li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp009.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
				 <li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp005.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
				 <li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp006.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
				<li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp007.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
				<li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp008.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
				<li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp009.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
				 <li>
					<a href="">
						<div class="goods-pic">
							<img src="images/cp010.jpg" />
							<p class="ticket-tab">优惠券50元</p>
						</div>
						<h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>
					</a>
					<div class="goods-price left">
						<span class="left sell-prb">券后价￥</span>
						<label class="left sell-prb">49</label>
						<div class="old-price">
							<p>￥195</p><i class="icon-fan">包邮</i>
						</div>
					</div>
					<div class="gray-icon">
						<a><i class="m-icon"></i>天猫</a>
						<span>销量:30000</span>
					</div>
					<div class="goods-tips">
						<span><i></i>已缴保证金</span>
						<span><i></i>进群领红包</span>
					</div>
					<div class="red-package-tips">
						<span>返现金红包</span>
						<span><em>10</em>元</span>
					</div>
				 </li>
			  </ul>
		  </div>
	  </div>
	  <div class="page">
		  <div class="page-return">
			 <a class="on">1</a><a>2</a><a>3</a><a>4</a><a>5</a><a class="prv-page">上一页</a><a class="next-page">下一页</a>
		  </div>
	  </div>
  </section>

 </div>
</article>

<%include foot %>
