<%include head %>
<!------网站中部------>
<article id="ibox">

<!------今日新品------>

<div class="cate-nav">
	<div class="middle w1205 hottest J-hottest">
        <% for(var i in all_category){ %>
		<a href="/cage?category_id=<%=all_category[i].cid%>"><%=all_category[i].cname%></a>
        <% }%>

	</div>
</div>

<div class="w1205 middle">
  <section>
	  <div class="floor-list">
		  <!-- <div class="sort">
                   <a class="sort-nav sort-curn">综合</a><a class="sort-nav">销量</a><a class="sort-nav">价格<span><i class="up_triangle"></i><i class="down_triangle"></i></span></a><a class="sort-nav">最新</a>
                    <a class="sort-chose sort-checked"><i></i>只看特卖商城</a><a class="sort-chose"><i></i>只看天猫/淘宝</a>
                </div>-->

          <div class="floor-goods">
              <ul class="goods-list">

              </ul>
          </div>

          <%include page %>
	  </div>

  </section>

 </div>
</article>
<script type="text/javascript">
	var category_id = '<%= category_id%>';
</script>
<script type="text/javascript" src="ticket_pc/js/goods.js"></script>
<%include foot %>
