<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>【狸淘网官网】狸淘网,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮秒杀尽在狸淘网</title>
    <meta name="keywords" content="狸淘网,导购网,狸淘网,u站,天天特价,九块邮,九块九包邮,9.9特卖,9.9包邮,9块9包邮官网">
    <meta name="description" content="狸淘网(neetao.com)淘牛品u站官网,全网独家商品抄底特价低至1折,更有九块九包邮,9.9特卖商品,每日精选百款9.9包邮品做9块9包邮秒杀活动.【九块邮天天有】">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" type="text/css" href="ticket_pc/css/bass.css" />
    <link rel="stylesheet" type="text/css" href="ticket_pc/css/cheap.css" />
    <script type="text/javascript" src="ticket_pc/js/jquery.min.js"></script>
    <script type="text/javascript" src="ticket_pc/js/index.js"></script>
    <script type="text/javascript" src="/baidu.js"></script>
    <!-- 加载淘宝JSSDK -->
    <script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey=<%=app_key%>"></script>
    <script type="text/javascript">
        var category = '<%=category%>';
    </script>
</head>

<body>

<!------网站头部------>
<header>

    <!------头部导航------>
    <div class="head-top">
        <div class="w1205 middle">
            
        </div>
    </div>

    <!------头部搜索------>
    <div class="head-mid">
        <div class="w1205 middle">

            <div class="head-log left">
                <a href="/"><img src="ticket_pc/images/logo2x.png" /></a>
            </div>

            <div class="head-search left">
                <div class="search-form">
                    <form action="#" method="get">
                        <input type="text" class="search-field" placeholder="请输入想找的宝贝" />
                        <input type="button" class="search-btn" />
                    </form>
                </div>
            </div>
            <div class="head-tips right">
                <ul class="bz-list">
                    <li><i class="iconfont">&#xe6b3;</i><span>海量优惠券</span></li>
                    <li><i class="iconfont">&#xe65f;</i><span>超级省钱</span></li>
                    <li><i class="iconfont">&#xe65e;</i><span>免费领取</span></li>
                </ul>
            </div>
            <div class="clear"></div>

        </div>
    </div>

    <!------中部导航------>
    <nav>
        <div class="head-nav">
            <div class="w1205 middle">
                <ul class="nav-menu left">
                    <li><a class="on" href="/index">首页新品</a></li>
                    <li><a href="/package?category=99">9块9包邮</a></li>
                    <li><a href="/hot">热销排行</a></li>
                    <li><a href="/redpacket">现金红包</a></li>
                    <li><a href="//shang.qq.com/wpa/qunwpa?idkey=169eda0e64c5e66a93c7a1900b1677510c1b11f33a66849842c3c7b3c7055bab">福利Q群</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>