<%include head %>
<!------网站中部------>
<article id="cbox">

<div class="cate-nav">
    <div class="middle w1205 hottest J-hottest">
        <% for(var i in all_category){ %>
        <a href="/cage?category_id=<%=all_category[i].cid%>" target="_blank"><%=all_category[i].cname%></a>
        <% }%>

    </div>
</div>
<!------今日热卖------>
<div class="w1205 middle">
  <section>
      <div class="floor-list">
          <!--加载商品列表 -->
          <%include goods %>
          <!--加载分页数据 -->
          <%include page %>
      </div>
  </section>

 </div>
</article>
<% include foot %>