<%include head %>
<!------网站中部------>
<article id="cbox">

<div class="cate-nav">
    <div class="middle w1205 hottest">
        <% for(var i in all_category){ %>
        <a href="/cage?category_id=<%=all_category[i].cid%>"><%=all_category[i].cname%></a>
        <% }%>

    </div>
</div>
<!------今日新品------>
<div class="w1205 middle">
  <section>
      <div class="floor-list">
          <div class="floor-goods">
              <ul class="goods-list">

              </ul>
          </div>
      </div>
      <div class="page">
          <div class="page-return">

          </div>
      </div>
  </section>

 </div>
</article>
<script type="text/javascript">
    var orderBy = 'sales_num';
    var direction = 'desc';
</script>
<script type="text/javascript" src="ticket_pc/js/goods.js"></script>
<% include foot %>