
<%include head %>
<!------网站中部------>
<article id="ibox">
<!------幻灯片------>
  <section>
	  <div class="main-banner">
		  <div class="banner-list J-banner-list">
			 <ul class="banner-img">
				<li class="swiper-slide"><a><img src="ticket_pc/images/brand01.png" /></a></li>
				<li class="swiper-slide"><a><img src="ticket_pc/images/brand02.png" /></a></li>
				<li class="swiper-slide"><a><img src="ticket_pc/images/brand03.png" /></a></li>
			 </ul>
			  <!------<div class="banner-com">
                 <a class="banner-pre swiper-button-prev"></a>
                 <a class="banner-next swiper-button-next"></a>
              </div>------>
              <div class="banner-contr tc">

              </div>
           </div>
       </div>
       <div class="w1205 middle">
           <div class="top-warp">
               <div class="top-remain hot-hunt left">
                   <ul class="cate-menu">
					   <% for(var i in all_category){ %>
					   <li><a href="/cage?category_id=<%=all_category[i].cid%>"><i class="nt-icon <%= all_category[i].icon%>"></i><%=all_category[i].cname%></a></li>
					   <% }%>

				  </ul>
			  </div>
			  <div class="top-remain new-dl">
				  <dl class="dl-list">
					  <dt><a><img src="ticket_pc/images/new-ad01.png" /></a></dt>
					  <dd class="left">
						 <a>春季上新必抢</a>
						 <a>新款牛仔裤1折起</a>
						 <a>全场商品9.9包邮</a>
						 <a>打底裤大特卖</a>
					  </dd>
				  </dl>
				  <dl class="dl-list">
					  <dt><a><img src="ticket_pc/images/new-ad02.png" /></a></dt>
					  <dd>
						 <a>大牌不止5折</a>
						 <a>居家服热卖2折起</a>
						 <a>全场商品9.9包邮</a>
						 <a>打底裤大特卖</a>
					  </dd>
				  </dl>
			  </div>
		  </div>
	  </div>
  </section>
  <!--专区广告图-->
  <div class="w1205">
	<section>
		<ul class="ad-top">
			<li>
				<a href="/redpacket">
					<img src="ticket_pc/images/ad001.jpg">
				</a>

			</li>
			<li>
				<a href="/package?category=99">
					<img src="ticket_pc/images/ad002.jpg">
				</a>

			</li>
			<li>
				<a href="/cage?category_id=1">
					<img src="ticket_pc/images/ad003.jpg">
				</a>

			</li>
		</ul>
	</section>
  </div>
  <div>

  </div>
<!------今日新品------>
 <div class="w1205 middle">
  <section>
      <div class="floor-list">

          <div class="floor-title">
              <div class="tips left">今日新品</div>
              <div class="floor-cage right">

              </div>
              <div class="clear"></div>
          </div>

          <div class="floor-main">


              <div class="floor-goods">
                  <ul class="goods-list">

                  </ul>
              </div>

              <%include page %>

          </div>
      </div>
  </section>

 </div>
</article>
<script type="text/javascript" src="ticket_pc/js/goods.js"></script>
<%include foot %>
