<%include head %>
<!------网站中部------>
<article>
    <div class="w1205 middle J-subcage">
        <aside>
            <div class="left subside">
                <h3 class="title">常见问题分类</h3>
                <div class="subside-cage">
                    <dl class="subside-mod">
                        <dt class="title">关于我们</dt>
                        <dd class="subside-list">
                            <p><a href="/issue?issue_id=1">网站简介</a></p>
                            <p><a href="/issue?issue_id=2">官方地址</a></p>
                        </dd>
                    </dl>
                    <dl class="subside-mod">
                        <dt class="title">买家中心</dt>
                        <dd class="subside-list">
                            <p><a href="/issue?issue_id=3">购物流程</a></p>
                            <p><a href="/issue?issue_id=4">红包领取</a></p>
                        </dd>
                    </dl>
                    <!--<dl class="subside-mod">
                        <dt class="title">帮助中心</dt>
                        <dd class="subside-list">
                            <p><a>联系卖家</a></p>
                            <p><a>物流查询</a></p>

                        </dd>
                    </dl>-->
                    <dl class="subside-mod">
                        <dt class="title">关注我们</dt>
                        <dd class="subside-list">
                            <p><a href="/issue?issue_id=5">新浪微博</a></p>
                            <p><a href="/issue?issue_id=6">狸淘官网</a></p>
                            <p><a href="/issue?issue_id=7">QQ群</a></p>
                        </dd>
                    </dl>
                </div>
            </div>
        </aside>
        <article>
            <div class="right sidebox">
                <div class="breadcrum"><span class="sLevel">关于我们</span>><span class="subLeve">网站简介</span></div>
                <div class="all-ques">
                    <div class="queslist">
                        <p class="dlinden">狸淘网是一家专注服务于广大网购朋友们的在线导购网站平台，专注提供天猫和淘宝的导购服务.</p>
                        <p>【领优惠券 + 领红包】是我们网站的特色.帮您省钱不止一点点！</p>
                        <p>狸淘网结合广大网购人群的购物习惯.基于大数据分析天猫/淘宝上热销商品主流风格、价位区间、热销排行、好评等指数,整合数十万款来自天猫/淘宝的产品在我们平台展示.并实时更新最新产品数据.</p>
                        <p>我们自己不生产商品，我们只是天猫/淘宝上物美价廉和最具性价比商品的搬运工和集中地！</p>
                        <p>所以亲，请不用担心我们的平台的不安全，不用担心我们的平台没有保障.因为您所有的购买都是在天猫/淘
                            宝平台上的商家，所有的购物操作也都是在天猫/淘宝上完成. 我们的存在只是集中展示天猫和淘宝上最优
                            秀的产品，帮您省时、省心、省钱，帮您买到最划算的产品，而且每一笔订单我们还额外给您发红包哟！</p>
                    </div>
                    <div class="queslist none">
                        <p>本站官方地址为：<a href="http://neetao.com">http://neetao.com </a>,敬请访问，也可通过手机扫码访问。</p>
                    </div>

                    <div class="queslist none">
                        <p>1.通过电脑或者手机浏览器地址栏中输入 neetao.com 打开网站. 也可以用手机扫描狸淘网的二维码打开.</p>
                        <p>2.进入网站选择想买的产品，点击产品 页面会出现优惠券，点击领取优惠券(如果没有登录淘宝网，用您自己的淘宝账号登录)，进入天猫/淘宝网对应的产品.点击立即购买，【不要加入购物车，不然没红包返给您哟】，然后在天猫/淘宝上拍下完成付款操作.所有的操作就跟您平时在淘宝上买东西一样的, 我们网站只是为您汇集了淘宝上优质的商家产品.</p>
                    </div>
                    <div class="queslist none">
                        <div class="quesant">
                            <h4>1.为什么要通过狸淘网去天猫/淘宝购物？</h4>
                            <p>狸淘网是通过天猫/淘宝官方审核的导购业务旗下的导购平台.我们与天猫/淘宝上数十万优质卖家合作，汇集合作商家店铺中销量好、价格实惠、好评高的人气产品.让您不用再盲目逛淘宝/天猫.让您的购物真正变得【省时、省心、省钱，每笔订单都有红包领】</p>
                            <!--<p>注：本网站导航栏 9块9包邮 分类里面产品一般没有优惠券和红包哟,因为这个类目的商品价格已经十分便宜了,具体以实际为准</p>-->
                        </div>
                        <div class="quesant">
                            <h4>2.为什么每笔订单都能领到狸淘网的红包？</h4>
                            <p>狸淘网是与天猫/淘宝上数十万优质的卖家合作的，当您通过我们网站上的产品去天猫/淘宝上下单
                                买了商品，我们狸淘网这边都会为每一个商品准备对应的红包,目的是为了给广大买家朋友们创造良好的购物体验.让您在享受购物的同时，还能每笔订单都可以领取我们狸淘网提供的红包.</p>
                        </div>
                        <div class="quesant">
                            <h4>3.红包怎么领取？</h4>
                            <p>领取过程非常简单，您通过我们狸淘网上的产品去天猫/淘宝下的订单，在收到包裹确认收货后,在狸淘网QQ群里联系群主, 即可领取我们发给您的微信或支付宝红包.
                            </p>
                        </div>
                        <div class="quesant">
                            <h4>4.怎么联系狸淘网工作人员？</h4>
                            <p>加入我们狸淘网官方客服微信群或者QQ群.联系我们的客服,我们会给您发微信或者支付宝红包！同时我们的微信群也经常会有红包惊喜.</p>
                            <p><a href="//shang.qq.com/wpa/qunwpa?idkey=169eda0e64c5e66a93c7a1900b1677510c1b11f33a66849842c3c7b3c7055bab" target="_blank">QQ群：420029491</a> (点击加入)</p>
                        </div>
                    </div>
                    <div class="queslist none">
                        <p>网页版：<a href="http://weibo.com/neetao" target="_blank">http://weibo.com/neetao</a></p>
                        <p>手机版：<a href="http://weibo.cn/neetao" target="_blank">http://weibo.cn/neetao</a></p>
                    </div>
                    <div class="queslist none">
                        <p>狸淘网官方网址:<a href="http://neetao.com">http://neetao.com </a> </p>
                        <p>网站上面有官方QQ群,欢迎加入哦！</p>
                    </div>
                    <div class="queslist none">
                        <p>狸淘优惠券直播⑤群：<a href="//shang.qq.com/wpa/qunwpa?idkey=169eda0e64c5e66a93c7a1900b1677510c1b11f33a66849842c3c7b3c7055bab" target="_blank">420029491</a> (点击加入)</p>
                    </div>
                </div>
            </div>
        </article>
        <div class="clear"></div>
    </div>


</article>

<script type="text/javascript">
    var issue_id = '<%= issue_id%>';
</script>

<%include foot %>