<div class="floor-list">

    <div class="floor-goods">
        <ul class="seckill-list goods-list">


        </ul>
    </div>
    <div class="page mPages">
        <div class="page-return pagination">
            <a class="on">1</a><a>2</a><a>3</a><a>4</a><a>5</a><a class="prv-page">上一页</a><a class="next-page">下一页</a>
        </div>
    </div>
</div>