<%include head %>
<!------网站中部------>
<article id="ibox">

<!------9kuai9------>
<div class="w1205 middle">
  <section>
      <div class="page-ad">
          <img src="window/assets/images/nt-banner.png" />
      </div>
      <div class="container">
          <div class="seckill-con">
              <ul class="row seckill-list">

              </ul>
              <div class="mPages">
                  <ul class="pagination">

                  </ul>
              </div>
          </div>
      </div>
  </section>

 </div>
</article>
<script type="text/javascript" src="window/assets/js/goods.js"></script>
<%include foot %>