<%include head %>
<!------网站中部------>
<article id="ibox">
    <div class="page-ad">
        <img src="window/assets/images/nt-banner.png" />
    </div>
<!------9kuai9------>
<div class="w1205 middle">
  <section>
      <div class="floor-list">
          <div class="floor-goods">
              <ul class="seckill-list goods-list">


              </ul>
          </div>

          <%include page %>
      </div>
  </section>

 </div>
</article>
<script type="text/javascript" src="window/assets/js/goods.js"></script>
<%include foot %>