<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>蛮便宜九块九包邮页</title>
		<link rel="stylesheet" type="text/css" href="css/bass.css" />
		<link rel="stylesheet" type="text/css" href="css/cheap.css" />
	</head>

	<body>
       
      <!------网站头部------>
      <header>

          <!------头部导航------>
          <div class="head-top">
              <div class="w1205 middle">
                  <nav>
                      <ul class="head-login left">
                          <li><a><b class="head-icon qq-icon left"></b>QQ登录</a></li>
                          <li><a><b class="head-icon tb-icon left"></b>淘宝登录</a></li>
                          <li><a href="login.html">登录</a></li>
                          <li><a href="register.html">免费注册</a></li>
                      </ul>
                  </nav>
                  <nav>
                      <ul class="head-menu right">
                          <li><a>手机客户端</a></li>
                          <li><a>收藏夹</a></li>
                          <li><a>在线客服</a></li>
                          <li><a>商家报名</a></li>
                      </ul>
                  </nav>
              </div>
          </div>

          <!------头部搜索------>
          <div class="head-mid">
              <div class="w1205 middle">

                  <div class="head-log left">
                      <a><img src="images/logo2x.png" /></a>
                  </div>

                  <div class="head-search left">
                      <div class="search-form">
                          <form action="#" method="get">
                              <input type="text" class="search-field" />
                              <input type="button" class="search-btn" />
                          </form>
                      </div>
                      <ul class="head-hot">
                          <li><a>客厅灯</a></li>
                          <li><a>客厅灯</a></li>
                          <li><a>客厅灯</a></li>
                          <li><a>客厅灯</a></li>
                      </ul>
                  </div>
                  <div class="head-tips right">
                      <a href="#"><img src="images/web_hao.png" /></a>
                  </div>
                  <div class="clear"></div>

              </div>
          </div>

          <!------中部导航------>
          <nav>
              <div class="head-nav">
                  <div class="w1205 middle">
                      <ul class="nav-menu left">
                          <li><a>首页新品</a></li>
                          <li><a  class="on" href="package.ejs">9块9包邮</a></li>
                          <li><a href="hot.ejs">热销排行</a></li>
                          <li><a href="">现金红包</a></li>
                          <li><a href="">福利Q群</a></li>
                      </ul>
                  </div>
              </div>
          </nav>
      </header>
       <!------网站中部------>
       <article id="ibox">

        <!------今日新品------>
        <div class="w1205 middle">
          <section>
          	  <div class="floor-list">

                  <div class="floor-goods">
                      <ul class="goods-list">
                          <li>

                              <div class="goods-pic">
                                  <a href="#"><img src="images/cp001.jpg" /></a>
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name"><a href="#">头层牛皮休闲透气沙滩鞋</a></h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>


                          </li>
                          <li>

                              <div class="goods-pic">
                                  <a href="#"><img src="images/cp009.jpg" /></a>
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name"><a href="#">头层牛皮休闲透气沙滩鞋</a></h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>

                          </li>
                          <li>

                              <div class="goods-pic">
                                  <a href="#"><img src="images/cp005.jpg" /></a>
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name"><a href="#">头层牛皮休闲透气沙滩鞋</a></h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>

                          </li>
                          <li>

                              <div class="goods-pic">
                                  <a href="#"><img src="images/cp006.jpg" /></a>
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name"><a href="#">头层牛皮休闲透气沙滩鞋</a></h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>

                          </li>
                          <li>

                              <div class="goods-pic">
                                  <img src="images/cp007.jpg" />
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>

                          </li>
                          <li>

                              <div class="goods-pic">
                                  <img src="images/cp008.jpg" />
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>

                          </li>
                          <li>

                              <div class="goods-pic">
                                  <img src="images/cp009.jpg" />
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>

                          </li>
                          <li>

                              <div class="goods-pic">
                                  <img src="images/cp010.jpg" />
                                  <p class="ticket-tab">优惠券50元</p>
                              </div>
                              <h3 class="goods-name">头层牛皮休闲透气沙滩鞋 </h3>

                              <div class="goods-price left">
                                  <span class="left sell-prb">券后价￥</span>
                                  <label class="left sell-prb">49</label>
                                  <div class="old-price">
                                      <p>￥195</p><i class="icon-fan">包邮</i>
                                  </div>
                              </div>
                              <div class="gray-icon">
                                  <a><i class="m-icon"></i>天猫</a>
                                  <span>销量:30000</span>
                              </div>
                              <div class="goods-tips">
                                  <span><i></i>已缴保证金</span>
                                  <span><i></i>进群领红包</span>
                              </div>

                          </li>
                      </ul>
                  </div>

              </div>
          	  <div class="page">
          	  	  <div class="page-return">
          	  	  	 <a class="on">1</a><a>2</a><a>3</a><a>4</a><a>5</a><a class="prv-page">上一页</a><a class="next-page">下一页</a>
          	  	  </div>
          	  </div>
          </section>

         </div>
       </article>

       <!------网站底部------>
       <footer>
       	   <div class="foot">
       	   	   <div class="w1205 middle">
       	   	   	  <div class="foot-top">
       	   	   	  	  <div class="left foot-log">
       	   	   	  	  	 <img src="images/new_logo.png" />
       	   	   	  	  </div>
       	   	   	  	  <dl class="left foot-cage">
       	   	   	  	  	 <dt>今日特价</dt>
       	   	   	  	  	 <dd><a>特价</a></dd><dd><a>特价</a></dd><dd><a>特价</a></dd>
       	   	   	  	  	 <dd><a>特价</a></dd><dd><a>特价</a></dd><dd><a>特价</a></dd>
       	   	   	  	  	 <dd><a>特价</a></dd><dd><a>特价</a></dd><dd><a>特价</a></dd>
       	   	   	  	  </dl>
       	   	   	  	  <dl class="left foot-other">
       	   	   	  	  	 <dt>其他类别</dt>
       	   	   	  	  	 <dd><a>连衣裙</a></dd><dd><a>长袖T恤</a></dd><dd><a>大码女装</a></dd>
       	   	   	  	  	 <dd><a>女鞋</a></dd><dd><a>女包</a></dd><dd><a>男鞋</a></dd>
       	   	   	  	  	 <dd><a>电动车</a></dd><dd><a>双肩包</a></dd><dd><a>半身裙</a></dd>
       	   	   	  	  </dl>  
       	   	   	  	  <dl class="left ewcode">
       	   	   	  	  	 <dt class="left"><img src="images/load-ewm.jpg" /></dt>
       	   	   	  	  	 <dd><span>手机客户端</span></dd>
       	   	   	  	  </dl> 
       	   	   	  	  <div class="clear"></div>    	   	   	  	  
       	   	   	  </div>
       	   	   	  <div class="foot-bom">
       	   	   	  	<div class="link-list"><a>联系我们</a><a>商家报名</a><a>关于我们</a><a>新浪微博</a><a>QQ空间</a></div>
       	   	   	  	<p class="record">北京趣购互动网络技术有限公司 | 京ICP备12032228号-4 | 京公网安备11010502025367</p>
       	   	   	  	<p>蛮便宜网站是第三方网上购物导购网站所有商品信息来自互联网，如果有商品信息不同，可能由于商品信息更新引起，所有商品信息以商家网站为准</p>
       	   	   	  </div>
       	   	   </div>
       	   </div>
       </footer>
	</body>

</html>