
<!------商品分页------>
<div class="page">
    <div class="page-return">
        <a class="on">1</a><a>2</a><a>3</a><a>4</a><a>5</a><a class="prv-page">上一页</a><a class="next-page">下一页</a>
    </div>


</div>

<div class="page">
    <div class="page-main">
        <div class="page-total left">共<b>55555</b>条</div>
        <div class="page-list left">
            <a class="forbin">首页</a>
            <a class="forbin"><i>< </i>上一页</a>
            <a class="on">1</a><a>2</a><a>3</a><a>4</a>
            <a>下一页<i> ></i></a>
            <a>尾页</a>
        </div>
        <div class="page-num left">
            页次：<span><i>1</i><label>/8</label></span>页（<b>100</b>条/页）到
        </div>
        <div class="page-sel left">
            <select name="page">
                <option value="1">第1页</option>
                <option value="2">第2页</option>
                <option value="3">第3页</option>
                <option value="4">第4页</option>
                <option value="5">第5页</option>
                <option value="6">第6页</option>
                <option value="7">第7页</option>
                <option value="8">第8页</option>
            </select>
        </div>
        <div class="clear"></div>
    </div>
</div>