<%include head %>
<!------网站中部------>
<article id="ibox">

    <!------今日新品------>
    <div class="cate-nav">
        <div class="middle w1205 hottest">
            <% for(var i in all_category){ %>
            <a href="/cage?category_id=<%=all_category[i].cid%>"><%=all_category[i].cname%></a>
            <% }%>
        </div>
    </div>
    <div class="w1205 middle">
        <section>
            <div class="redpacket-content">
                <!--文字内容-->
                <h3>现金红包领取说明</h3>
                <div class="red-1">
                    <div class="red-1-left">
                        <p>收到快递包裹,在淘宝网买家确认收货，就可以在狸淘网QQ群里联系群主领取对应的微信/支付宝红包.</p>
                        <p>加入狸淘网QQ群：<a href="//shang.qq.com/wpa/qunwpa?idkey=169eda0e64c5e66a93c7a1900b1677510c1b11f33a66849842c3c7b3c7055bab" target="_blank"><img src="ticket_pc/images/qqonline.png"></a></p>
                    </div>
                    <div class="red-1-right">
                        <img src="ticket_pc/images/user-qq.png">

                    </div>
                </div>
                <!--图片操作说明-->
                <div class="red-2">
                    <!--<h3>购物流程</h3>-->
                    <p>1.点击狸淘网商品，会自动提示你点击领取优惠券，然后自动前往淘宝网上面对应的商品.</p>
                    <p>2.选择商品数量、颜色、尺码等数据后.<span class="red-buy">点击【立即购买】</span>, <span class="red-cart">不能点击加入购物车</span>，否则没有现金红包返现给您哟.切记！</p>
                    <p>3.在填写收货地址页面，你就会看到你的付款价格是自动减去优惠券金额之后的价格，比别人便宜很多哟！</p>
                    <p>4.完成付款，然后等到收货. 收到货就可以在狸淘网QQ群联系群主领红包.</p>
                </div>
                <ul class="red-3">
                    <h3>从狸淘网打开商品去淘宝，比你直接去淘宝买同样的产品，帮您省钱可不只是一点点哟！</h3>
                    <li>
                        <div class="red-pic"><img src="ticket_pc/images/redpacket-1.png"></div>
                        <span>1.点击狸淘网商品，会提醒您领取优惠券.</span>
                    </li>
                    <li>
                        <div class="red-pic"><img src="ticket_pc/images/redpacket-2.png"></div>
                        <span>2.如果没有登录淘宝，需要登录淘宝账号..</span>
                    </li>
                    <li>
                        <div class="red-pic"><img src="ticket_pc/images/redpacket-3.png"></div>
                        <span>3.点击领取优惠券.领取后自动打开淘宝对应商品.</span>
                    </li>
                    <li>
                        <div class="red-pic"><img src="ticket_pc/images/redpacket-4.png"></div>
                        <span>4.点【立即购买】，不能加入购物车</span>
                    </li>
                    <li>
                        <div class="red-pic"><img src="ticket_pc/images/redpacket-5.png"></div>
                        <span>5.实际付款价格是减去优惠券之后的.优惠不少吧</span>
                    </li>
                    <li>
                        <div class="red-pic"><img src="ticket_pc/images/redpacket-6.jpg"></div>
                        <span>6.后到货还能领现金红包，赶快加群吧</span>
                    </li>
                </ul>
                <p class="red-tips">注：本网站导航中【9块9包邮】分类里面的商品均为特价跑量商品，价格已经十分优惠，一般不包含优惠券和红包.具体以网站说明为准</p>
            </div>
        </section>

    </div>
</article>
<%include foot %>